# Timmy's couse scheduling

## Section 1

### import

In [28]:
from gurobipy import Model, GRB, quicksum, LinExpr
import pandas as pd
import numpy as np
import re
import gurobipy as gp
import math

### data reading and preprocessing

In [29]:
# Normalize dashes in the "Fixed slot (k,t)" column
def normalize_slot(val):
    if isinstance(val, str):
        val = re.sub(r"[–—]", "-", val)      # Replace all types of dashes with '-'
        val = re.sub(r"[Ss]hifts", "Shift", val)  # Replace "shifts" or "Shifts" with "shift"
        val = re.sub(r" ", "", val)  # Replace "shifts" or "Shifts" with "shift"
    return val

def parse_fixed_slot(value):
    if pd.isna(value) or not isinstance(value, str):
        return value

    # Normalize unusual spaces (non-breaking, narrow no-break, etc.) to regular space
    value = re.sub(r'[\u00A0\u202F\u2009\u200A\u200B]', ' ', value)
    value = value.replace('\xa0', ' ')  # Also catch more hidden non-breaking spaces
    value = value.replace('–', '-')     # Replace en dash with hyphen

    # Remove extra spaces and unify format
    value = re.sub(r'\s+', '', value)

    # Updated pattern: now it can catch things like Day45Shift10 or Day45-47Shift10-12
    pattern = r"Day(\d+(?:-\d+)?)Shift(\d+(?:-\d+)?)"
    matches = re.findall(pattern, value)

    result = []

    for day_range, shift_range in matches:
        # Handle day range
        if '-' in day_range:
            start_day, end_day = map(int, day_range.split('-'))
            days = range(start_day, end_day + 1)
        else:
            days = [int(day_range)]

        # Handle shift range
        if '-' in shift_range:
            start_shift, end_shift = map(int, shift_range.split('-'))
            shifts = range(start_shift, end_shift + 1)
        else:
            shifts = [int(shift_range)]

        # Combine
        result.extend((d, s) for d in days for s in shifts)

    return result if result else value

def clean_hours(val):
    if pd.isna(val):
        return val
    if isinstance(val, str):
        # Replace en dash and em dash with regular hyphen
        val = val.replace('–', '-').replace('—', '-')

        # Remove parentheses and their contents
        val = re.sub(r"\(.*?\)", "", val).strip()

        # Handle patterns like "1-2", "1 - 2", "1.5-2.5"
        if re.match(r"^\d+(\.\d+)?\s*-\s*\d+(\.\d+)?$", val):
            parts = re.split(r"\s*-\s*", val)
            try:
                numbers = [float(p) for p in parts]
                return sum(numbers) / 2
            except ValueError:
                return val  # fallback if something goes wrong
    try:
        return float(val)
    except (ValueError, TypeError):
        return val

def expand_weekly_tasks(df, weekday_info):
    # check release
    new_rows = []   
    to_drop = []    
    for idx, row in df.iterrows():
        release = row["Release r"]
        if isinstance(release, str) and release.startswith("Weekly"):
            match = re.match(r"Weekly\s+(Mon|Tue|Wed|Thu|Fri|Sat|Sun)", release)
            if match:
                day_str = match.group(1)
                if day_str in weekday_info:
                    start_day = weekday_info[day_str]["start_day"]
                    count = weekday_info[day_str]["count"]

                    for k in range(count):
                        new_row = row.copy()
                        new_row["Task name"] = f"{row['Task name']} {k+1}"
                        new_row["Release r"] = start_day + k * 7
                        deadline = new_row["Deadline d"]
                        if isinstance(deadline, str) and deadline.startswith("Weekly"):
                            match_deadline = re.match(r"Weekly\s+(Mon|Tue|Wed|Thu|Fri|Sat|Sun)", deadline)
                            deadline = (weekday_info[match_deadline.group(1)]["start_day"] - weekday_info[day_str]["start_day"] - 1) % 7 + 1
                            new_row["Deadline d"] = new_row["Release r"] + deadline
                        new_rows.append(new_row)
                    to_drop.append(idx)
    df = df.drop(index=to_drop).reset_index(drop=True)
    if new_rows:
        df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
    return df

weekday_map = {
    "Mon": {"count": 16, "start_day": 1},   # 13 Mondays, starting at day 1
    "Tue": {"count": 16, "start_day": 2},
    "Wed": {"count": 16, "start_day": 3},
    "Thu": {"count": 16, "start_day": 4},
    "Fri": {"count": 16, "start_day": 5},
    "Sat": {"count": 16, "start_day": 6},
    "Sun": {"count": 16, "start_day": 7},
}

#### data 1

In [3]:
# courses = pd.read_excel("Timmy_courses.xlsx")
# courses.replace('—', np.nan, inplace=True)
# courses["Fixed slot (k,t)"] = courses["Fixed slot (k,t)"].apply(normalize_slot)
# courses["Fixed slot (k,t)"] = courses["Fixed slot (k,t)"].apply(parse_fixed_slot)
# courses["E (hrs)"] = courses["E (hrs)"].apply(clean_hours)

# course_names = []
# course_tables = []
# start_idx = None
# for idx, row in courses.iterrows():
#     task_name = row['Task name']
#     task_type = row['Type']
#     if pd.notna(task_name) and pd.isna(task_type):
#         print(start_idx)
#         if start_idx is not None:
#             course_table = courses.iloc[start_idx+1:idx].reset_index(drop=True)
#             course_table = expand_weekly_tasks(course_table, weekday_map)
#             course_tables.append(course_table)
#         course_names.append(task_name)
#         start_idx = idx

# # Add this to capture the last course table
# if start_idx is not None:
#     course_table = courses.iloc[start_idx+1:].reset_index(drop=True)
#     course_table = expand_weekly_tasks(course_table, weekday_map)
#     course_tables.append(course_table)

# for (table, name) in zip(course_tables, course_names):
#     print(name)
#     display(table)

#### data 2

In [30]:
courses = pd.read_excel("Timmy_courses_updated.xlsx")
courses.replace('—', np.nan, inplace=True)
courses["Fixed slot (k,t)"] = courses["Fixed slot (k,t)"].apply(normalize_slot)
courses["Fixed slot (k,t)"] = courses["Fixed slot (k,t)"].apply(parse_fixed_slot)
courses["E (hrs)"] = courses["E (hrs)"].apply(clean_hours)

course_info = []
course_tables = []
start_idx = None
for idx, row in courses.iterrows():
    task_name = row['Task name']
    task_type = row['Type']
    if pd.notna(task_name) and pd.isna(task_type):
        if start_idx is not None:
            course_table = courses.iloc[start_idx+1:idx].reset_index(drop=True)
            course_table.dropna(subset=["Task name"], inplace=True)
            course_table = expand_weekly_tasks(course_table, weekday_map)
            course_tables.append(course_table)
        course_info.append({
            "course_name": task_name, 
            "credit": row["Credit"],
            "preference": row["Preference"],
        })
        start_idx = idx

# Add this to capture the last course table
if start_idx is not None:
    course_table = courses.iloc[start_idx+1:].reset_index(drop=True)
    course_table.dropna(subset=["Task name"], inplace=True)
    course_table = expand_weekly_tasks(course_table, weekday_map)
    course_tables.append(course_table)

for (table, info) in zip(course_tables, course_info):
    display(info)
    display(table)

{'course_name': 'IM2010 Operations Research', 'credit': 3.0, 'preference': 1.0}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,HW0,Homework,0.0,1,7,NaN,2.0,NaN,NaN,NaN,NaN
1,Homework 1,Homework,5.0,22,26,NaN,4.0,NaN,NaN,NaN,NaN
2,Homework 2,Homework,5.0,29,33,NaN,4.0,NaN,NaN,NaN,NaN
3,Homework 3,Homework,5.0,78,82,NaN,4.0,NaN,NaN,NaN,NaN
4,Final Project Proposal (FPP),Homework,0.0,36,40,NaN,3.0,NaN,NaN,NaN,NaN
5,Midterm Project,Homework,20.0,64,82,NaN,12.0,NaN,NaN,NaN,NaN
6,Final Project Video (FPV),Homework,0.0,85,96,NaN,8.0,NaN,NaN,NaN,NaN
7,Final Project Report (FPR),Homework,25.0,85,96,NaN,10.0,NaN,NaN,NaN,NaN
8,Midterm Exam,Exam,12.0,NaN,NaN,"[(48, 2), (48, 3), (48, 4)]",6.0,Fixed slot,NaN,NaN,NaN
9,Final Exam,Exam,18.0,NaN,NaN,"[(106, 2), (106, 3), (106, 4)]",6.0,Fixed slot,NaN,NaN,NaN
10,Survey / Admin Tasks,Homework,5.0,1,106,NaN,1.0,No time restrictions,NaN,NaN,NaN
11,Pre‑lecture W1,Homework,1.0,44,44,"[(44, 2), (44, 3), (44, 4)]",1.0,NaN,NaN,NaN,NaN
12,Pre‑lecture W2,Homework,1.0,51,51,"[(51, 2), (51, 3), (51, 4)]",1.0,NaN,NaN,NaN,NaN
13,Pre‑lecture W3,Homework,1.0,58,58,"[(58, 2), (58, 3), (58, 4)]",1.0,NaN,NaN,NaN,NaN
14,Pre‑lecture W4,Homework,1.0,65,65,"[(65, 2), (65, 3), (65, 4)]",1.0,NaN,NaN,NaN,NaN
15,Pre‑lecture W5,Homework,1.0,72,72,"[(72, 2), (72, 3), (72, 4)]",1.0,NaN,NaN,NaN,NaN

{'course_name': 'MATH4008 Calculus III', 'credit': 2.0, 'preference': 0.8}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Worksheet 1,Homework,7.0,8,22,NaN,2.0,NaN,NaN,NaN,NaN
1,Worksheet 2,Homework,7.0,22,36,NaN,2.0,NaN,NaN,NaN,NaN
2,Worksheet 3,Homework,7.0,36,50,NaN,2.0,NaN,NaN,NaN,NaN
3,WeBWorK,Homework,10.0,1,56,NaN,4.0,Online assignments,NaN,NaN,NaN
4,Quiz 1,Exam,10.0,15,NaN,"[(18, 11)]",3.0,17:30–18:20,NaN,NaN,NaN
5,Quiz 2,Exam,10.0,36,NaN,"[(39, 11)]",3.0,17:30–18:20,NaN,NaN,NaN
6,Final Exam,Exam,50.0,NaN,NaN,"[(57, 7), (57, 8), (57, 9)]",8.0,13:30–16:30,NaN,NaN,NaN

{'course_name': 'MATH4010 Calculus IV – Applications in Economics and Business',
 'credit': 2.0,
 'preference': 0.8}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,HW1,Homework,5.0,68,82,NaN,2.0,NaN,NaN,NaN,NaN
1,HW2,Homework,5.0,82,96,NaN,2.0,NaN,NaN,NaN,NaN
2,HW3,Homework,5.0,96,109,NaN,2.0,NaN,NaN,NaN,NaN
3,WebWork,Homework,5.0,57,109,NaN,4.0,Online assignments,NaN,NaN,NaN
4,Quiz 1,Exam,15.0,80,NaN,"[(82, 11)]",3.0,17:30–18:20,NaN,NaN,NaN
5,Quiz 2,Exam,15.0,94,NaN,"[(96, 11)]",3.0,17:30–18:20,NaN,NaN,NaN
6,Final Exam,Exam,50.0,NaN,NaN,"[(111, 7), (111, 8), (111, 9)]",8.0,13:30–16:30,NaN,NaN,NaN

{'course_name': 'CSIE1212 Data Structures and Algorithms',
 'credit': 3.0,
 'preference': 1.0}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Homework 0,Homework,4.0,1,64,NaN,6.00,Programming component (part of 20 %),NaN,NaN,NaN
1,Homework 1,Homework,4.0,22,36,NaN,8.00,Programming component,NaN,NaN,NaN
2,Homework 2,Homework,4.0,36,64,NaN,8.00,Programming component,NaN,NaN,NaN
3,Homework 3,Homework,4.0,57,78,NaN,8.00,Programming component,NaN,NaN,NaN
4,Homework 4,Homework,4.0,78,92,NaN,8.00,Programming component,NaN,NaN,NaN
5,Mini Homework A–F,Homework,10.0,8–36,64,NaN,1.50,Writing component; 6 tasks × 1.67 %,NaN,NaN,NaN
6,Mini Homework G–L,Homework,10.0,43–92,115,NaN,1.50,Writing component; 6 tasks × 1.67 %,NaN,NaN,NaN
7,Earth Game,Activity,4.0,57,64,NaN,3.00,Part of 10 % Activity,NaN,NaN,NaN
8,Software Dev Game,Activity,3.0,78,85,NaN,3.00,Part of 10 % Activity,NaN,NaN,NaN
9,Kahoot Review,Activity,3.0,92,99,NaN,1.00,Part of 10 % Activity,NaN,NaN,NaN
10,Midterm Exam,Exam,25.0,NaN,NaN,"[(51, 8)]",6.00,Fixed slot 13:20–16:20,NaN,NaN,NaN
11,Final Exam,Exam,25.0,NaN,NaN,"[(106, 8)]",6.00,Fixed slot,NaN,NaN,NaN
12,With‑Video Quizzes 1,Online Quiz,0.0,2,7,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
13,With‑Video Quizzes 2,Online Quiz,0.0,9,14,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
14,With‑Video Quizzes 3,Online Quiz,0.0,16,21,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
15,With‑Video Quizzes 4,Online Quiz,0.0,23,28,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
16,With‑Video Quizzes 5,Online Quiz,0.0,30,35,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
17,With‑Video Quizzes 6,Online Quiz,0.0,37,42,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
18,With‑Video Quizzes 7,Online Quiz,0.0,44,49,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
19,With‑Video Quizzes 8,Online Quiz,0.0,51,56,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
20,With‑Video Quizzes 9,Online Quiz,0.0,58,63,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
21,With‑Video Quizzes 10,Online Quiz,0.0,65,70,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
22,With‑Video Quizzes 11,Online Quiz,0.0,72,77,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
23,With‑Video Quizzes 12,Online Quiz,0.0,79,84,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
24,With‑Video Quizzes 13,Online Quiz,0.0,86,91,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
25,With‑Video Quizzes 14,Online Quiz,0.0,93,98,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
26,With‑Video Quizzes 15,Online Quiz,0.0,100,105,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
27,With‑Video Quizzes 16,Online Quiz,0.0,107,112,NaN,0.25,Bonus (no weight),NaN,NaN,NaN

{'course_name': 'ECON1023 Principles of Macroeconomics',
 'credit': 3.0,
 'preference': 0.6}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Quiz 1,Exam,4.0,14,26,"[(26, 4)]",2.0,10:30–11:10,NaN,NaN,NaN
1,Quiz 2,Exam,4.0,23,33,"[(33, 4)]",2.0,NaN,NaN,NaN,NaN
2,Quiz 3,Exam,4.0,30,40,"[(40, 4)]",2.0,NaN,NaN,NaN,NaN
3,Quiz 4,Exam,4.0,42,54,"[(54, 4)]",2.0,NaN,NaN,NaN,NaN
4,Quiz 5,Exam,4.0,54,68,"[(68, 4)]",2.0,NaN,NaN,NaN,NaN
5,Quiz 6,Exam,4.0,61,75,"[(75, 4)]",2.0,NaN,NaN,NaN,NaN
6,Midterm Exam,Exam,40.0,30,56,"[(56, 3), (56, 4), (56, 5)]",6.0,9:30–11:30,NaN,NaN,NaN
7,Final Exam,Exam,40.0,96,110,110,6.0,9:30–11:30,NaN,NaN,NaN

{'course_name': 'JPNL2018 Basic Japanese (Level 1)',
 'credit': 3.0,
 'preference': 0.8}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Class Participation W1,Homework,1.0,45,45,"[(45, 2)]",0.5,NaN,NaN,NaN,NaN
1,Class Participation W2,Homework,1.0,52,52,"[(52, 2)]",0.5,NaN,NaN,NaN,NaN
2,Class Participation W3,Homework,1.0,59,59,"[(59, 2)]",0.5,NaN,NaN,NaN,NaN
3,Class Participation W4,Homework,1.0,66,66,"[(66, 2)]",0.5,NaN,NaN,NaN,NaN
4,Class Participation W5,Homework,1.0,73,73,"[(73, 2)]",0.5,NaN,NaN,NaN,NaN
5,Class Participation W6,Homework,1.0,80,80,"[(80, 2)]",0.5,NaN,NaN,NaN,NaN
6,Class Participation W7,Homework,1.0,87,87,"[(87, 2)]",0.5,NaN,NaN,NaN,NaN
7,Class Participation W8,Homework,1.0,94,94,"[(94, 2)]",0.5,NaN,NaN,NaN,NaN
8,Class Participation W9,Homework,1.0,101,101,"[(101, 2)]",0.5,NaN,NaN,NaN,NaN
9,Class Participation W10,Homework,1.0,108,108,"[(108, 2)]",0.5,NaN,NaN,NaN,NaN
10,Post‑lesson HW W1,Homework,1.0,45,52,NaN,1.0,NaN,NaN,NaN,NaN
11,Post‑lesson HW W2,Homework,1.0,52,59,NaN,1.0,NaN,NaN,NaN,NaN
12,Post‑lesson HW W3,Homework,1.0,59,66,NaN,1.0,NaN,NaN,NaN,NaN
13,Post‑lesson HW W4,Homework,1.0,66,73,NaN,1.0,NaN,NaN,NaN,NaN
14,Post‑lesson HW W5,Homework,1.0,73,80,NaN,1.0,NaN,NaN,NaN,NaN
15,Post‑lesson HW W6,Homework,1.0,80,87,NaN,1.0,NaN,NaN,NaN,NaN
16,Post‑lesson HW W7,Homework,1.0,87,94,NaN,1.0,NaN,NaN,NaN,NaN
17,Post‑lesson HW W8,Homework,1.0,94,101,NaN,1.0,NaN,NaN,NaN,NaN
18,Post‑lesson HW W9,Homework,1.0,101,108,NaN,1.0,NaN,NaN,NaN,NaN
19,Post‑lesson HW W10,Homework,1.0,108,115,NaN,1.0,NaN,NaN,NaN,NaN
20,In‑class Quiz W1,Exam,1.0,45,45,"[(45, 3)]",0.5,NaN,NaN,NaN,NaN
21,In‑class Quiz W2,Exam,1.0,52,52,"[(52, 3)]",0.5,NaN,NaN,NaN,NaN
22,In‑class Quiz W3,Exam,1.0,59,59,"[(59, 3)]",0.5,NaN,NaN,NaN,NaN
23,In‑class Quiz W4,Exam,1.0,66,66,"[(66, 3)]",0.5,NaN,NaN,NaN,NaN
24,In‑class Quiz W5,Exam,1.0,73,73,"[(73, 3)]",0.5,NaN,NaN,NaN,NaN
25,In‑class Quiz W6,Exam,1.0,80,80,"[(80, 3)]",0.5,NaN,NaN,NaN,NaN
26,In‑class Quiz W7,Exam,1.0,87,87,"[(87, 3)]",0.5,NaN,NaN,NaN,NaN
27,In‑class Quiz W8,Exam,1.0,94,94,"[(94, 3)]",0.5,NaN,NaN,NaN,NaN
28,In‑class Quiz W9,Exam,1.0,101,101,"[(101, 3)]",0.5,NaN,NaN,NaN,NaN
29,In‑class Quiz W10,Exam,1.0,108,108,"[(108, 3)]",0.5,NaN,NaN,NaN,NaN
30,Reading Practice W1,Homework,1.0,45,45,NaN,0.5,NaN,NaN,NaN,NaN
31,Reading Practice W2,Homework,1.0,52,52,NaN,0.5,NaN,NaN,NaN,NaN
32,Reading Practice W3,Homework,1.0,59,59,NaN,0.5,NaN,NaN,NaN,NaN
33,Reading Practice W4,Homework,1.0,66,66,NaN,0.5,NaN,NaN,NaN,NaN
34,Reading Practice W5,Homework,1.0,73,73,NaN,0.5,NaN,NaN,NaN,NaN
35,Reading Practice W6,Homework,1.0,80,80,NaN,0.5,NaN,NaN,NaN,NaN
36,Reading Practice W7,Homework,1.0,87,87,NaN,0.5,NaN,NaN,NaN,NaN
37,Reading Practice W8,Homework,1.0,94,94,NaN,0.5,NaN,NaN,NaN,NaN
38,Reading Practice W9,Homework,1.0,101,101,NaN,0.5,NaN,NaN,NaN,NaN
39,Reading Practice W10,Homework,1.0,108,108,NaN,0.5,NaN,NaN,NaN,NaN
40,Midterm Exam,Exam,30.0,43,50,"[(50, 2), (50, 3), (50, 4)]",4.0,Wed 4/9,NaN,NaN,NaN
41,Final Exam,Exam,30.0,106,113,"[(113, 2), (113, 3), (113, 4)]",4.0,Wed 6/4,NaN,NaN,NaN

{'course_name': 'IM3004 Organizational Behavior',
 'credit': 3.0,
 'preference': 0.4}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Case Study Presentation,Homework,25.0,1,15,"[(15, 7)]",8.0,Present during Monday 14:20–17:20,NaN,NaN,NaN
1,Midterm Exam,Exam,30.0,NaN,NaN,"[(50, 7)]",6.0,Mon 4/7,NaN,NaN,NaN
2,Final Exam,Exam,30.0,NaN,NaN,"[(106, 7)]",6.0,Mon 6/2,NaN,NaN,NaN
3,Participation W1,Homework,1.0,42,42,"[(42, 7)]",0.5,NaN,NaN,NaN,NaN
4,Participation W2,Homework,1.0,47,47,"[(47, 7)]",0.5,NaN,NaN,NaN,NaN
5,Participation W3,Homework,2.0,52,52,"[(52, 7)]",1.0,NaN,NaN,NaN,NaN
6,Participation W5,Homework,1.0,62,62,"[(62, 7)]",0.5,NaN,NaN,NaN,NaN
7,Participation W6,Homework,1.0,67,67,"[(67, 7)]",0.5,NaN,NaN,NaN,NaN
8,Participation W7,Homework,1.0,72,72,"[(72, 7)]",0.5,NaN,NaN,NaN,NaN
9,Participation W8,Homework,1.0,77,77,"[(77, 7)]",0.5,NaN,NaN,NaN,NaN
10,Participation W9,Homework,1.0,82,82,"[(82, 7)]",0.5,NaN,NaN,NaN,NaN
11,Participation W10,Homework,1.0,87,87,"[(87, 7)]",0.5,NaN,NaN,NaN,NaN
12,Participation W11,Homework,1.0,92,92,"[(92, 7)]",0.5,NaN,NaN,NaN,NaN
13,Participation W12,Homework,1.0,97,97,"[(97, 7)]",0.5,NaN,NaN,NaN,NaN
14,Participation W13,Homework,1.0,102,102,"[(102, 7)]",0.5,NaN,NaN,NaN,NaN
15,Participation W14,Homework,1.0,107,107,"[(107, 7)]",0.5,NaN,NaN,NaN,NaN
16,Participation W15,Homework,1.0,112,112,"[(112, 7)]",0.5,NaN,NaN,NaN,NaN

{'course_name': 'MGT1002 Accounting Principles (2)',
 'credit': 3.0,
 'preference': 0.8}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Quiz,Exam,4.0,15,22,"[(22, 10)]",1.0,3/12 in‑class,NaN,NaN,NaN
1,Project,Homework,6.0,99,103,"[(103, 10)]",5.0,Report day 5/23,NaN,NaN,NaN
2,Exam 1,Exam,27.0,NaN,NaN,"[(31, 10)]",6.0,3/19 in‑class,NaN,NaN,NaN
3,Exam 2,Exam,27.0,NaN,NaN,"[(66, 10)]",6.0,4/23 in‑class,NaN,NaN,NaN
4,Exam 3,Exam,26.0,NaN,NaN,"[(109, 10)]",6.0,6/4 in‑class,NaN,NaN,NaN
5,TA Session W1,Homework,1.0,45,45,"[(45, 10)]",0.5,NaN,NaN,NaN,NaN
6,TA Session W2,Homework,1.0,52,52,"[(52, 10)]",0.5,NaN,NaN,NaN,NaN
7,TA Session W3,Homework,1.0,59,59,"[(59, 10)]",1.0,NaN,NaN,NaN,NaN
8,TA Session W5,Homework,1.0,73,73,"[(73, 10)]",0.5,NaN,NaN,NaN,NaN
9,TA Session W6,Homework,1.0,80,80,"[(80, 10)]",0.5,NaN,NaN,NaN,NaN
10,TA Session W7,Homework,1.0,87,87,"[(87, 10)]",0.5,NaN,NaN,NaN,NaN
11,TA Session W8,Homework,1.0,94,94,"[(94, 10)]",0.5,NaN,NaN,NaN,NaN
12,TA Session W9,Homework,1.0,101,101,"[(101, 10)]",0.5,NaN,NaN,NaN,NaN
13,TA Session W10,Homework,1.0,108,108,"[(108, 10)]",0.5,NaN,NaN,NaN,NaN

#### data 3

In [31]:
day_limit = pd.read_excel("Timmy_Personal_Data.xlsx", usecols=[0, 1])
display(day_limit.head())

Timmy_status = pd.read_excel("Timmy_Personal_Data.xlsx", usecols=[2, 3, 4], nrows = 1)
display(Timmy_status.head())

Timmy_efficiency = pd.read_excel("Timmy_Personal_Data.xlsx", usecols=[6, 7], nrows=3)
display(Timmy_efficiency.head())

Timmy_efficiency.rename(columns={"Unnamed: 6": "Type"}, inplace = True)
display(Timmy_efficiency.head())

# fix
new_row = pd.DataFrame([{"Type": "Online Quiz", "Base efficiency": 0.0}])
Timmy_efficiency = pd.concat([Timmy_efficiency, new_row], ignore_index=True)
Timmy_efficiency.loc[Timmy_efficiency["Type"] == "Acativity", "Type"] = "Activity"
display(Timmy_efficiency.head())

   Day  Workload Limits
0    1                6
1    2                6
2    3                6
3    4                6
4    5                6

   Penalty coefficient  Circadian peak  Full cosine swing
0                    1               5                  1

  Unnamed: 6  Base efficiency
0   Homework              0.6
1       Exam              1.0
2  Acativity              1.0

        Type  Base efficiency
0   Homework              0.6
1       Exam              1.0
2  Acativity              1.0

          Type  Base efficiency
0     Homework              0.6
1         Exam              1.0
2     Activity              1.0
3  Online Quiz              0.0

### parameter

In [32]:
num_course = len(course_info)
num_day = day_limit.shape[0] # 2/17-6/8
num_shift = 16
minimum_grade = 60

# Indices
I = range(num_course)                # Courses
J = {i: course_tables[i] for i in I}  # Tasks per course i
K = range(num_day)                # Days
T = range(num_shift)               # Shifts per day

# === Calculation Part ===
w = {i: course_info[i]["credit"] for i in I}           
S = {(i, idx): row["Weight (%)"] for i in I for idx, row in J[i].iterrows()}
E = {
    (i, idx): (row["E (hrs)"] + len(row["Fixed slot (k,t)"])) 
              if isinstance(row["Fixed slot (k,t)"], list) 
              else row["E (hrs)"]
    for i in I
    for idx, row in J[i].iterrows()
    if not pd.isna(row["E (hrs)"])
}
r = {(i, idx): row["Release r"] for i in I for idx, row in J[i].iterrows()}
d = {(i, idx): row["Deadline d"] for i in I for idx, row in J[i].iterrows()}
B = minimum_grade  # Minimum grade
F = []
for i in I:
    for j in range(J[i].shape[0]):
        value = course_tables[i]["Fixed slot (k,t)"][j]
        if isinstance(value, (list, tuple)) and not (pd.isna(value).all() if isinstance(value, (np.ndarray, list, tuple)) else pd.isna(value)):
            for k_t in value:
                if isinstance(k_t, (list, tuple)) and len(k_t) == 2 and not any(pd.isna(x) for x in k_t):
                    k, t = k_t
                    F.append((i, j, k, t))
F = np.array(F)

H_star = {k: day_limit["Workload Limits"][k] for k in K}  # Threshold for overload
beta = Timmy_status["Penalty coefficient"][0]  # Penalty weight

# Define P_ijkt
eta_type = {(i, idx): row["Base efficiency"] 
            for i in I 
            for idx, row in course_tables[i].merge(Timmy_efficiency, on="Type").iterrows()}
theta = {i: course_info[i]["preference"] for i in I}  # Enthusiasm per course
h_t = {t: t + 0.5 for t in T[:num_shift]}  # Midpoint hour for shift
h_peak = Timmy_status["Circadian peak"][0]  # Peak energy time
a = 1  # Circadian amplitude
P = {}  # dictionary to hold expressions
for i in I:
    enthusiasm = 1 + theta[i]# enthusiasm effect
    for j in range(J[i].shape[0]):
        eta = eta_type[i, j]# task-type effect
        for k in K:
            for t in T:
                circadian = 1 + a * math.cos((2 * math.pi / 24) * (h_t[t] - h_peak))# circadian effect
                P[i, j, k, t] = eta * enthusiasm * circadian

# === Output Part ===
# print("weight per course\n", w)
# print("weight per task\n", S)
# print("task required time\n", E)
# print("task release times\n", r)
# print("task deadlines\n", d)
# print("minimum grades each course (all the same)\n", B)
# print("max study time each day\n", H_star)
# print("penalty (if studying too long)\n", beta)
# print("Timmy's efficiency to each task\n", eta_type)
# print("Timmy's enthusiasm to each course\n", theta)
# print("midpoint hour for shift\n", h_t)
# print("peak energy time", h_peak)
print(F)

[[  0   8  48   2]
 [  0   8  48   3]
 [  0   8  48   4]
 [  0   9 106   2]
 [  0   9 106   3]
 [  0   9 106   4]
 [  0  11  44   2]
 [  0  11  44   3]
 [  0  11  44   4]
 [  0  12  51   2]
 [  0  12  51   3]
 [  0  12  51   4]
 [  0  13  58   2]
 [  0  13  58   3]
 [  0  13  58   4]
 [  0  14  65   2]
 [  0  14  65   3]
 [  0  14  65   4]
 [  0  15  72   2]
 [  0  15  72   3]
 [  0  15  72   4]
 [  1   4  18  11]
 [  1   5  39  11]
 [  1   6  57   7]
 [  1   6  57   8]
 [  1   6  57   9]
 [  2   4  82  11]
 [  2   5  96  11]
 [  2   6 111   7]
 [  2   6 111   8]
 [  2   6 111   9]
 [  3  10  51   8]
 [  3  11 106   8]
 [  4   0  26   4]
 [  4   1  33   4]
 [  4   2  40   4]
 [  4   3  54   4]
 [  4   4  68   4]
 [  4   5  75   4]
 [  4   6  56   3]
 [  4   6  56   4]
 [  4   6  56   5]
 [  5   0  45   2]
 [  5   1  52   2]
 [  5   2  59   2]
 [  5   3  66   2]
 [  5   4  73   2]
 [  5   5  80   2]
 [  5   6  87   2]
 [  5   7  94   2]
 [  5   8 101   2]
 [  5   9 108   2]
 [  5  20  45   3]
 [  5  21  52   3]
 [  5  22  59   3]
 [  5  23  66   3]
 [  5  24  73   3]
 [  5  25  80   3]
 [  5  26  87   3]
 [  5  27  94   3]
 [  5  28 101   3]
 [  5  29 108   3]
 [  5  40  50   2]
 [  5  40  50   3]
 [  5  40  50   4]
 [  5  41 113   2]
 [  5  41 113   3]
 [  5  41 113   4]
 [  6   0  15   7]
 [  6   1  50   7]
 [  6   2 106   7]
 [  6   3  42   7]
 [  6   4  47   7]
 [  6   5  52   7]
 [  6   6  62   7]
 [  6   7  67   7]
 [  6   8  72   7]
 [  6   9  77   7]
 [  6  10  82   7]
 [  6  11  87   7]
 [  6  12  92   7]
 [  6  13  97   7]
 [  6  14 102   7]
 [  6  15 107   7]
 [  6  16 112   7]
 [  7   0  22  10]
 [  7   1 103  10]
 [  7   2  31  10]
 [  7   3  66  10]
 [  7   4 109  10]
 [  7   5  45  10]
 [  7   6  52  10]
 [  7   7  59  10]
 [  7   8  73  10]
 [  7   9  80  10]
 [  7  10  87  10]
 [  7  11  94  10]
 [  7  12 101  10]
 [  7  13 108  10]]

In [46]:
# In[model]
model = Model("StudySchedule")

In [47]:
# Add decision variables y[k, t, i, j] ∈ {0,1}
y = {}
for k in K:
    for t in T:
        for i in I:
            for j in range(J[i].shape[0]):
                y[k, t, i, j] = model.addVar(vtype=GRB.BINARY, name=f"y_{k}_{t}_{i}_{j}")

model.update()

# Compute A_{i,j} = ∑_{k,t} P_{i,j,k,t} * y_{k,t,i,j}
A = {(i, j): quicksum(P[i, j, k, t] * y[k, t, i, j] for k in K for t in T)
     for i in I for j in range(J[i].shape[0])}

# Add continuous variables X_{i,j} ∈ [0, 1]
X = {(i, j): model.addVar(lb=0, ub=1, name=f"X_{i}_{j}") for i in I for j in range(J[i].shape[0])}
model.update()

# Add constraints X_{i,j} ≤ A_{i,j} / E_{i,j}
for (i, j) in X:
    model.addConstr(X[i, j] <= A[i, j] / E[i, j], name=f"XLimit_{i}_{j}")

# Compute grades G_i = ∑_{j} S_{i,j} * X_{i,j}
G = {i: quicksum(S[i, j] * X[i, j] for j in range(J[i].shape[0])) for i in I}

# Overload penalties for exceeding H*_k
overload_penalty = {}
for k in K:
    total_hours = quicksum(y[k, t, i, j] for t in T for i in I for j in range(J[i].shape[0]))
    overload = model.addVar(lb=0, name=f"Overload_{k}")
    model.addConstr(overload >= total_hours - H_star[k], name=f"OverloadConstr_{k}")
    overload_penalty[k] = overload

# Objective: Maximize ∑ w_i * G_i - β * ∑ overload penalties
model.setObjective(
    quicksum(w[i] * G[i] for i in I) - beta * quicksum(overload_penalty[k] for k in K),
    GRB.MAXIMIZE
)

# Constraint: Only one task per shift
for k in K:
    for t in T:
        model.addConstr(
            quicksum(y[k, t, i, j] for i in I for j in range(J[i].shape[0])) <= 1,
            name=f"OneTaskPerShift_{k}_{t}"
        )

# print("deadline")
# Constraint: Do not assign after deadline
for i in I:
    for j in range(J[i].shape[0]):
        deadline_day = d[i, j] #
        if np.isnan(deadline_day): 
            continue
        for k in K:
            if k > deadline_day - 1: #
                for t in T:
                    # print(f"({i}, {j}, {k}, {t})")
                    model.addConstr(y[k, t, i, j] == 0, name=f"Deadline_{k}_{t}_{i}_{j}")

# print("release")
# Constraint: Do not assign before release
for i in I:
    for j in range(J[i].shape[0]):
        release_day = r[i, j]
        if isinstance(release_day, str):
            continue
        if np.isnan(release_day): 
            continue
        for k in K:
            if k < release_day - 1: #
                for t in T:
                    # print(f"({i}, {j}, {k}, {t})")
                    model.addConstr(y[k, t, i, j] == 0, name=f"Release_{k}_{t}_{i}_{j}")

# Constraint: Breaks - no more than 4 study blocks in any 6-shift window
for k in K:
    for t0 in range(len(T) - 5):
        model.addConstr(
            quicksum(y[k, t, i, j] for t in range(t0, t0 + 6) for i in I for j in range(J[i].shape[0])) <= 4,
            name=f"Breaks_{k}_{t0}"
        )

# print("fixed slot")
# Constraint: fixed slots
for i, j, k, t in F:
    model.addConstr(y[k - 1, t, i, j] == 1, name=f"blocked_shift_{k}_{t}_{i}_{j}") #
    # print(f"({i}, {j}, {k}, {t})")

# Constraint: Minimum grade requirement
for i in I:
    model.addConstr(G[i] >= B, name=f"MinGrade_{i}")

In [50]:
# Optimize the model
model.optimize()

# Print results if feasible/optimal
if model.status == GRB.OPTIMAL:
    print("\n--- Schedule ---")
    for k in K:
        for t in T:
            for i in I:
                for j in range(J[i].shape[0]):
                    if y[k, t, i, j].X > 0.5:
                        print(f"Day {k+1}, Shift {t+1}: {course_info[i]["course_name"]}, Task {J[i]["Task name"][j]}")

Gurobi Optimizer version 12.0.2 build v12.0.2rc0 (win64 - Windows 10.0 (19045.2))

CPU model: AMD Ryzen 7 5800U with Radeon Graphics, instruction set [SSE2|AVX|AVX2]
Thread count: 8 physical cores, 16 logical processors, using up to 16 threads

Optimize a model with 217242 rows, 256014 columns and 2007099 nonzeros
Model fingerprint: 0x689b5d53
Variable types: 254 continuous, 255760 integer (255760 binary)
Coefficient statistics:
  Matrix range     [7e-03, 5e+01]
  Objective range  [1e+00, 1e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 6e+01]
Presolved: 3187 rows, 31858 columns, 224394 nonzeros

Continuing optimization...


Explored 1 nodes (286 simplex iterations) in 0.08 seconds (0.00 work units)
Thread count was 16 (of 16 available processors)

Solution count 2: 2210.44 1547.27

Optimal solution found (tolerance 1.00e-04)
Best objective 2.210441936575e+03, best bound 2.210441936575e+03, gap 0.0000%

--- Schedule ---
Day 1, Shift 1: MGT1002 Accounting Principles (2), Task Exam 3
Day 1, Shift 2: CSIE1212 Data Structures and Algorithms, Task Midterm Exam
Day 2, Shift 1: IM3004 Organizational Behavior, Task Case Study Presentation
Day 2, Shift 2: MGT1002 Accounting Principles (2), Task Exam 1
Day 3, Shift 1: IM3004 Organizational Behavior, Task Case Study Presentation
Day 3, Shift 2: MGT1002 Accounting Principles (2), Task Exam 2
Day 4, Shift 1: IM3004 Organizational Behavior, Task Case Study Presentation
Day 4, Shift 2: CSIE1212 Data Structures and Algorithms, Task Final Exam
Day 5, Shift 1: MGT1002 Accounting Principles (2), Task Exam 3
Day 5, Shift 2: MGT1002 Accounting Principles (2), Task Exam 1
Day 5, Shift 8: IM3004 Organizational Behavior, Task Case Study Presentation
Day 6, Shift 3: CSIE1212 Data Structures and Algorithms, Task Homework 0
Day 8, Shift 1: MATH4008 Calculus III, Task Final Exam
Day 8, Shift 2: IM3004 Organizational Behavior, Task Midterm Exam
Day 9, Shift 1: MATH4008 Calculus III, Task WeBWorK
Day 9, Shift 2: MGT1002 Accounting Principles (2), Task Exam 2
Day 10, Shift 1: IM3004 Organizational Behavior, Task Case Study Presentation
Day 10, Shift 2: IM3004 Organizational Behavior, Task Final Exam
Day 11, Shift 1: IM3004 Organizational Behavior, Task Case Study Presentation
Day 11, Shift 2: IM3004 Organizational Behavior, Task Midterm Exam
Day 12, Shift 1: IM3004 Organizational Behavior, Task Case Study Presentation
Day 12, Shift 2: IM3004 Organizational Behavior, Task Final Exam
Day 12, Shift 7: CSIE1212 Data Structures and Algorithms, Task Final Exam
Day 13, Shift 8: MATH4008 Calculus III, Task Worksheet 1
Day 14, Shift 8: MATH4008 Calculus III, Task Worksheet 1
Day 15, Shift 8: IM3004 Organizational Behavior, Task Case Study Presentation
Day 16, Shift 1: IM2010 Operations Research, Task Survey / Admin Tasks
Day 16, Shift 12: MATH4008 Calculus III, Task WeBWorK
Day 17, Shift 12: MATH4008 Calculus III, Task WeBWorK
Day 18, Shift 12: MATH4008 Calculus III, Task Quiz 1
Day 19, Shift 12: MATH4008 Calculus III, Task WeBWorK
Day 22, Shift 11: MGT1002 Accounting Principles (2), Task Quiz
Day 22, Shift 16: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 23, Shift 1: IM2010 Operations Research, Task Homework 1
Day 24, Shift 1: IM2010 Operations Research, Task Homework 1
Day 24, Shift 13: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 25, Shift 1: IM2010 Operations Research, Task Homework 1
Day 26, Shift 5: ECON1023 Principles of Macroeconomics, Task Quiz 1
Day 27, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 27, Shift 2: CSIE1212 Data Structures and Algorithms, Task Mini Homework A–F
Day 28, Shift 1: MATH4008 Calculus III, Task Worksheet 2
Day 28, Shift 2: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 29, Shift 1: IM2010 Operations Research, Task Homework 2
Day 30, Shift 1: IM2010 Operations Research, Task Homework 2
Day 31, Shift 11: MGT1002 Accounting Principles (2), Task Exam 1
Day 32, Shift 1: IM2010 Operations Research, Task Homework 2
Day 33, Shift 5: ECON1023 Principles of Macroeconomics, Task Quiz 2
Day 34, Shift 1: MATH4008 Calculus III, Task Worksheet 2
Day 34, Shift 2: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 35, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 35, Shift 2: CSIE1212 Data Structures and Algorithms, Task Mini Homework G–L
Day 36, Shift 9: CSIE1212 Data Structures and Algorithms, Task Homework 2
Day 38, Shift 1: MATH4008 Calculus III, Task Quiz 1
Day 39, Shift 12: MATH4008 Calculus III, Task Quiz 2
Day 40, Shift 5: ECON1023 Principles of Macroeconomics, Task Quiz 3
Day 41, Shift 3: CSIE1212 Data Structures and Algorithms, Task Homework 0
Day 42, Shift 8: IM3004 Organizational Behavior, Task Participation W1
Day 43, Shift 1: MATH4008 Calculus III, Task Quiz 2
Day 44, Shift 3: IM2010 Operations Research, Task Pre‑lecture W1
Day 44, Shift 4: IM2010 Operations Research, Task Pre‑lecture W1
Day 44, Shift 5: IM2010 Operations Research, Task Pre‑lecture W1
Day 44, Shift 14: MATH4008 Calculus III, Task Worksheet 3
Day 45, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W1
Day 45, Shift 2: MGT1002 Accounting Principles (2), Task TA Session W1
Day 45, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W1
Day 45, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W1
Day 45, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W1
Day 46, Shift 4: CSIE1212 Data Structures and Algorithms, Task Homework 0
Day 47, Shift 8: IM3004 Organizational Behavior, Task Participation W2
Day 48, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W1
Day 48, Shift 3: IM2010 Operations Research, Task Midterm Exam
Day 48, Shift 4: IM2010 Operations Research, Task Midterm Exam
Day 48, Shift 5: IM2010 Operations Research, Task Midterm Exam
Day 50, Shift 2: MATH4008 Calculus III, Task Worksheet 3
Day 50, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Midterm Exam
Day 50, Shift 4: JPNL2018 Basic Japanese (Level 1), Task Midterm Exam
Day 50, Shift 5: JPNL2018 Basic Japanese (Level 1), Task Midterm Exam
Day 50, Shift 8: IM3004 Organizational Behavior, Task Midterm Exam
Day 51, Shift 3: IM2010 Operations Research, Task Pre‑lecture W2
Day 51, Shift 4: IM2010 Operations Research, Task Pre‑lecture W2
Day 51, Shift 5: IM2010 Operations Research, Task Pre‑lecture W2
Day 51, Shift 9: CSIE1212 Data Structures and Algorithms, Task Midterm Exam
Day 52, Shift 1: IM3004 Organizational Behavior, Task Participation W3
Day 52, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W2
Day 52, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W2
Day 52, Shift 7: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W2
Day 52, Shift 8: IM3004 Organizational Behavior, Task Participation W3
Day 52, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W2
Day 54, Shift 5: ECON1023 Principles of Macroeconomics, Task Quiz 4
Day 56, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W2
Day 56, Shift 4: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 56, Shift 5: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 56, Shift 6: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 57, Shift 7: CSIE1212 Data Structures and Algorithms, Task Earth Game
Day 57, Shift 8: MATH4008 Calculus III, Task Final Exam
Day 57, Shift 9: MATH4008 Calculus III, Task Final Exam
Day 57, Shift 10: MATH4008 Calculus III, Task Final Exam
Day 58, Shift 1: CSIE1212 Data Structures and Algorithms, Task Earth Game
Day 58, Shift 3: IM2010 Operations Research, Task Pre‑lecture W3
Day 58, Shift 4: IM2010 Operations Research, Task Pre‑lecture W3
Day 58, Shift 5: IM2010 Operations Research, Task Pre‑lecture W3
Day 58, Shift 7: CSIE1212 Data Structures and Algorithms, Task Homework 3
Day 59, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W3
Day 59, Shift 2: MGT1002 Accounting Principles (2), Task TA Session W3
Day 59, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W3
Day 59, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W3
Day 59, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W3
Day 60, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 2
Day 60, Shift 2: CSIE1212 Data Structures and Algorithms, Task Homework 2
Day 60, Shift 15: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W3
Day 61, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 2
Day 61, Shift 2: CSIE1212 Data Structures and Algorithms, Task Homework 2
Day 61, Shift 15: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W3
Day 62, Shift 8: IM3004 Organizational Behavior, Task Participation W5
Day 64, Shift 9: IM2010 Operations Research, Task Midterm Project
Day 65, Shift 3: IM2010 Operations Research, Task Pre‑lecture W4
Day 65, Shift 4: IM2010 Operations Research, Task Pre‑lecture W4
Day 65, Shift 5: IM2010 Operations Research, Task Pre‑lecture W4
Day 65, Shift 6: IM2010 Operations Research, Task Midterm Project
Day 66, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W4
Day 66, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W4
Day 66, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W4
Day 66, Shift 5: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W3
Day 66, Shift 11: MGT1002 Accounting Principles (2), Task Exam 2
Day 67, Shift 8: IM3004 Organizational Behavior, Task Participation W6
Day 68, Shift 4: MATH4010 Calculus IV – Applications in Economics and Business, Task HW1
Day 68, Shift 5: ECON1023 Principles of Macroeconomics, Task Quiz 5
Day 68, Shift 8: IM2010 Operations Research, Task Midterm Project
Day 68, Shift 13: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W4
Day 68, Shift 16: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W4
Day 69, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 3
Day 69, Shift 2: CSIE1212 Data Structures and Algorithms, Task Homework 3
Day 69, Shift 8: IM2010 Operations Research, Task Midterm Project
Day 69, Shift 9: MATH4010 Calculus IV – Applications in Economics and Business, Task WebWork
Day 70, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 3
Day 70, Shift 2: CSIE1212 Data Structures and Algorithms, Task Homework 3
Day 70, Shift 9: MATH4010 Calculus IV – Applications in Economics and Business, Task WebWork
Day 71, Shift 4: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W4
Day 72, Shift 2: MATH4010 Calculus IV – Applications in Economics and Business, Task WebWork
Day 72, Shift 3: IM2010 Operations Research, Task Pre‑lecture W5
Day 72, Shift 4: IM2010 Operations Research, Task Pre‑lecture W5
Day 72, Shift 5: IM2010 Operations Research, Task Pre‑lecture W5
Day 72, Shift 8: IM3004 Organizational Behavior, Task Participation W7
Day 73, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W5
Day 73, Shift 2: MGT1002 Accounting Principles (2), Task TA Session W5
Day 73, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W5
Day 73, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W5
Day 73, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W5
Day 74, Shift 9: IM2010 Operations Research, Task Midterm Project
Day 74, Shift 15: IM2010 Operations Research, Task Midterm Project
Day 75, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W5
Day 75, Shift 5: ECON1023 Principles of Macroeconomics, Task Quiz 6
Day 77, Shift 8: IM3004 Organizational Behavior, Task Participation W8
Day 79, Shift 1: IM2010 Operations Research, Task Homework 3
Day 80, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W6
Day 80, Shift 2: MGT1002 Accounting Principles (2), Task TA Session W6
Day 80, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W6
Day 80, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W6
Day 80, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W6
Day 81, Shift 1: IM2010 Operations Research, Task Homework 3
Day 81, Shift 6: IM2010 Operations Research, Task Midterm Project
Day 82, Shift 1: IM2010 Operations Research, Task Homework 3
Day 82, Shift 8: IM3004 Organizational Behavior, Task Participation W9
Day 82, Shift 12: MATH4010 Calculus IV – Applications in Economics and Business, Task Quiz 1
Day 83, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 4
Day 84, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 4
Day 85, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W6
Day 85, Shift 3: MATH4010 Calculus IV – Applications in Economics and Business, Task HW2
Day 85, Shift 6: CSIE1212 Data Structures and Algorithms, Task Software Dev Game
Day 85, Shift 12: MATH4010 Calculus IV – Applications in Economics and Business, Task HW2
Day 86, Shift 3: IM2010 Operations Research, Task Final Project Report (FPR)
Day 86, Shift 6: IM2010 Operations Research, Task Final Project Report (FPR)
Day 86, Shift 9: IM2010 Operations Research, Task Final Project Report (FPR)
Day 87, Shift 1: MGT1002 Accounting Principles (2), Task TA Session W7
Day 87, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W7
Day 87, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W7
Day 87, Shift 5: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W7
Day 87, Shift 8: IM3004 Organizational Behavior, Task Participation W10
Day 87, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W7
Day 88, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 4
Day 88, Shift 14: CSIE1212 Data Structures and Algorithms, Task Midterm Exam
Day 89, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 4
Day 90, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 4
Day 92, Shift 8: IM3004 Organizational Behavior, Task Participation W11
Day 92, Shift 10: IM2010 Operations Research, Task Final Project Report (FPR)
Day 93, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W7
Day 94, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W8
Day 94, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W8
Day 94, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W8
Day 94, Shift 6: IM2010 Operations Research, Task Final Project Report (FPR)
Day 94, Shift 8: MGT1002 Accounting Principles (2), Task TA Session W8
Day 94, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W8
Day 95, Shift 1: CSIE1212 Data Structures and Algorithms, Task Kahoot Review
Day 96, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W8
Day 96, Shift 12: MATH4010 Calculus IV – Applications in Economics and Business, Task Quiz 2
Day 97, Shift 1: MATH4010 Calculus IV – Applications in Economics and Business, Task HW3
Day 97, Shift 8: IM3004 Organizational Behavior, Task Participation W12
Day 99, Shift 1: ECON1023 Principles of Macroeconomics, Task Final Exam
Day 100, Shift 1: MGT1002 Accounting Principles (2), Task Project
Day 100, Shift 3: ECON1023 Principles of Macroeconomics, Task Final Exam
Day 101, Shift 1: MGT1002 Accounting Principles (2), Task Project
Day 101, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W9
Day 101, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W9
Day 101, Shift 6: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W9
Day 101, Shift 10: MGT1002 Accounting Principles (2), Task TA Session W9
Day 101, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W9
Day 102, Shift 1: MGT1002 Accounting Principles (2), Task Project
Day 102, Shift 8: IM3004 Organizational Behavior, Task Participation W13
Day 103, Shift 1: MGT1002 Accounting Principles (2), Task Project
Day 103, Shift 11: MGT1002 Accounting Principles (2), Task Project
Day 104, Shift 1: MATH4010 Calculus IV – Applications in Economics and Business, Task Quiz 1
Day 104, Shift 12: MATH4010 Calculus IV – Applications in Economics and Business, Task Final Exam
Day 105, Shift 1: MATH4010 Calculus IV – Applications in Economics and Business, Task Quiz 2
Day 105, Shift 12: MATH4010 Calculus IV – Applications in Economics and Business, Task Final Exam
Day 106, Shift 2: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W9
Day 106, Shift 3: IM2010 Operations Research, Task Final Exam
Day 106, Shift 4: IM2010 Operations Research, Task Final Exam
Day 106, Shift 5: IM2010 Operations Research, Task Final Exam
Day 106, Shift 8: IM3004 Organizational Behavior, Task Final Exam
Day 106, Shift 9: CSIE1212 Data Structures and Algorithms, Task Final Exam
Day 107, Shift 8: IM3004 Organizational Behavior, Task Participation W14
Day 108, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W10
Day 108, Shift 2: MGT1002 Accounting Principles (2), Task TA Session W10
Day 108, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W10
Day 108, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W10
Day 108, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W10
Day 109, Shift 1: ECON1023 Principles of Macroeconomics, Task Final Exam
Day 109, Shift 2: MATH4010 Calculus IV – Applications in Economics and Business, Task HW3
Day 109, Shift 11: MGT1002 Accounting Principles (2), Task Exam 3
Day 111, Shift 8: MATH4010 Calculus IV – Applications in Economics and Business, Task Final Exam
Day 111, Shift 9: MATH4010 Calculus IV – Applications in Economics and Business, Task Final Exam
Day 111, Shift 10: MATH4010 Calculus IV – Applications in Economics and Business, Task Final Exam
Day 112, Shift 8: IM3004 Organizational Behavior, Task Participation W15
Day 113, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W10
Day 113, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Final Exam
Day 113, Shift 4: JPNL2018 Basic Japanese (Level 1), Task Final Exam
Day 113, Shift 5: JPNL2018 Basic Japanese (Level 1), Task Final Exam

### Desciption

In [33]:
# Prepare list to collect schedule entries
schedule_entries = []

if model.status == GRB.OPTIMAL:
    print("\n--- Schedule ---")
    for k in K:
        for t in T:
            for i in I:
                for j in range(J[i].shape[0]):
                    if y[k, t, i, j].X > 0.5:
                        course_name = course_info[i]["course_name"]
                        task_name = J[i]["Task name"][j]
                        print(f"Day {k}, Shift {t}: {course_name}, Task {task_name}")

                        # Append to list for DataFrame
                        schedule_entries.append({
                            "Day": k,
                            "Shift": t,
                            "Course": course_name,
                            "Task": task_name
                        })

# Create DataFrame
df_schedule = pd.DataFrame(schedule_entries)

--- Schedule ---
Day 1, Shift 1: MATH4008 Calculus III, Task WeBWorK
Day 1, Shift 2: IM2010 Operations Research, Task Final Exam
Day 2, Shift 3: MGT1002 Accounting Principles (2), Task Exam 1
Day 4, Shift 0: MATH4008 Calculus III, Task WeBWorK
Day 4, Shift 2: IM3004 Organizational Behavior, Task Case Study Presentation
Day 6, Shift 0: CSIE1212 Data Structures and Algorithms, Task Final Exam
Day 7, Shift 0: MGT1002 Accounting Principles (2), Task Exam 3
Day 8, Shift 0: MGT1002 Accounting Principles (2), Task Exam 3
Day 8, Shift 5: IM3004 Organizational Behavior, Task Case Study Presentation
Day 9, Shift 0: MATH4008 Calculus III, Task Worksheet 1
Day 10, Shift 0: IM3004 Organizational Behavior, Task Case Study Presentation
Day 12, Shift 0: IM3004 Organizational Behavior, Task Case Study Presentation
Day 13, Shift 0: IM3004 Organizational Behavior, Task Case Study Presentation
Day 14, Shift 1: IM3004 Organizational Behavior, Task Case Study Presentation
Day 16, Shift 0: ECON1023 Principles of Macroeconomics, Task Quiz 1
Day 16, Shift 2: CSIE1212 Data Structures and Algorithms, Task Final Exam
Day 17, Shift 0: MGT1002 Accounting Principles (2), Task Quiz
Day 20, Shift 0: MATH4008 Calculus III, Task Worksheet 1
Day 21, Shift 0: MATH4008 Calculus III, Task Quiz 1
Day 22, Shift 1: MGT1002 Accounting Principles (2), Task Exam 2
Day 22, Shift 2: MATH4008 Calculus III, Task Worksheet 2
Day 22, Shift 13: IM2010 Operations Research, Task Homework 1
Day 23, Shift 0: IM2010 Operations Research, Task Homework 1
Day 23, Shift 3: IM2010 Operations Research, Task Homework 1
Day 23, Shift 4: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 23, Shift 5: IM2010 Operations Research, Task Homework 1
Day 24, Shift 12: IM2010 Operations Research, Task Homework 1
Day 25, Shift 0: IM2010 Operations Research, Task Homework 1
Day 25, Shift 1: MGT1002 Accounting Principles (2), Task Exam 1
Day 25, Shift 7: IM2010 Operations Research, Task Homework 1
Day 26, Shift 0: IM2010 Operations Research, Task Homework 1
Day 27, Shift 0: ECON1023 Principles of Macroeconomics, Task Quiz 2
Day 27, Shift 1: IM3004 Organizational Behavior, Task Final Exam
Day 27, Shift 11: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 28, Shift 11: MATH4008 Calculus III, Task Worksheet 2
Day 28, Shift 12: MATH4008 Calculus III, Task Worksheet 2
Day 28, Shift 14: MATH4008 Calculus III, Task Worksheet 2
Day 29, Shift 2: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 29, Shift 3: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 29, Shift 13: MATH4008 Calculus III, Task Worksheet 2
Day 29, Shift 14: MATH4008 Calculus III, Task Worksheet 2
Day 29, Shift 15: MATH4008 Calculus III, Task Worksheet 2
Day 30, Shift 0: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 32, Shift 0: IM2010 Operations Research, Task Homework 2
Day 32, Shift 1: IM2010 Operations Research, Task Homework 2
Day 32, Shift 3: IM2010 Operations Research, Task Survey / Admin Tasks
Day 33, Shift 0: IM2010 Operations Research, Task Homework 2
Day 34, Shift 0: MATH4008 Calculus III, Task Worksheet 2
Day 34, Shift 3: CSIE1212 Data Structures and Algorithms, Task Homework 1
Day 35, Shift 1: ECON1023 Principles of Macroeconomics, Task Quiz 3
Day 36, Shift 2: CSIE1212 Data Structures and Algorithms, Task Homework 0
Day 36, Shift 3: CSIE1212 Data Structures and Algorithms, Task Midterm Exam
Day 36, Shift 4: MATH4008 Calculus III, Task Final Exam
Day 37, Shift 0: MATH4008 Calculus III, Task Worksheet 3
Day 37, Shift 4: CSIE1212 Data Structures and Algorithms, Task Homework 0
Day 38, Shift 4: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 38, Shift 5: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 38, Shift 7: CSIE1212 Data Structures and Algorithms, Task Homework 2
Day 39, Shift 2: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 39, Shift 7: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 39, Shift 12: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 39, Shift 13: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 41, Shift 0: CSIE1212 Data Structures and Algorithms, Task Mini Homework G–L
Day 41, Shift 1: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 42, Shift 0: IM3004 Organizational Behavior, Task Participation W1
Day 43, Shift 0: CSIE1212 Data Structures and Algorithms, Task Homework 2
Day 43, Shift 1: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 43, Shift 5: JPNL2018 Basic Japanese (Level 1), Task Midterm Exam
Day 43, Shift 8: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 43, Shift 9: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 44, Shift 0: IM2010 Operations Research, Task Pre‑lecture W1
Day 44, Shift 2: CSIE1212 Data Structures and Algorithms, Task Homework 0
Day 44, Shift 3: IM3004 Organizational Behavior, Task Final Exam
Day 45, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W1
Day 45, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Class Participation W1
Day 45, Shift 4: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W1
Day 45, Shift 8: MGT1002 Accounting Principles (2), Task TA Session W1
Day 46, Shift 0: ECON1023 Principles of Macroeconomics, Task Quiz 4
Day 46, Shift 8: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 46, Shift 15: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 47, Shift 0: IM3004 Organizational Behavior, Task Participation W2
Day 48, Shift 0: MATH4008 Calculus III, Task Worksheet 3
Day 49, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W1
Day 49, Shift 5: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 49, Shift 7: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 49, Shift 9: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 50, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Midterm Exam
Day 50, Shift 1: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 50, Shift 7: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 51, Shift 0: IM2010 Operations Research, Task Pre‑lecture W2
Day 51, Shift 1: CSIE1212 Data Structures and Algorithms, Task Homework 2
Day 51, Shift 6: IM3004 Organizational Behavior, Task Midterm Exam
Day 52, Shift 0: IM3004 Organizational Behavior, Task Participation W3
Day 52, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W2
Day 52, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W2
Day 52, Shift 8: MATH4008 Calculus III, Task Final Exam
Day 52, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W2
Day 52, Shift 13: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W2
Day 53, Shift 0: MATH4008 Calculus III, Task WeBWorK
Day 53, Shift 1: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 53, Shift 2: CSIE1212 Data Structures and Algorithms, Task Mini Homework A–F
Day 53, Shift 5: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 54, Shift 0: ECON1023 Principles of Macroeconomics, Task Quiz 5
Day 55, Shift 0: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 55, Shift 2: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 55, Shift 6: MATH4010 Calculus IV – Applications in Economics and Business, Task Final Exam
Day 55, Shift 15: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 56, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W2
Day 56, Shift 10: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 56, Shift 12: ECON1023 Principles of Macroeconomics, Task Midterm Exam
Day 57, Shift 0: CSIE1212 Data Structures and Algorithms, Task Homework 2
Day 57, Shift 2: MATH4008 Calculus III, Task Quiz 2
Day 58, Shift 0: IM2010 Operations Research, Task Pre‑lecture W3
Day 59, Shift 0: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W3
Day 59, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Class Participation W3
Day 59, Shift 7: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W3
Day 59, Shift 8: MGT1002 Accounting Principles (2), Task TA Session W3
Day 60, Shift 0: MATH4010 Calculus IV – Applications in Economics and Business, Task WebWork
Day 60, Shift 9: CSIE1212 Data Structures and Algorithms, Task Homework 2
Day 61, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W3
Day 61, Shift 2: CSIE1212 Data Structures and Algorithms, Task Earth Game
Day 61, Shift 5: IM2010 Operations Research, Task Final Exam
Day 62, Shift 0: IM3004 Organizational Behavior, Task Participation W5
Day 63, Shift 1: MATH4010 Calculus IV – Applications in Economics and Business, Task Final Exam
Day 63, Shift 3: MATH4008 Calculus III, Task Final Exam
Day 64, Shift 0: CSIE1212 Data Structures and Algorithms, Task Homework 3
Day 65, Shift 0: IM2010 Operations Research, Task Pre‑lecture W4
Day 65, Shift 2: CSIE1212 Data Structures and Algorithms, Task Homework 3
Day 66, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W4
Day 66, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Class Participation W4
Day 66, Shift 6: JPNL2018 Basic Japanese (Level 1), Task Class Participation W4
Day 66, Shift 8: MGT1002 Accounting Principles (2), Task TA Session W4
Day 66, Shift 12: JPNL2018 Basic Japanese (Level 1), Task Class Participation W4
Day 66, Shift 13: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W4
Day 67, Shift 0: IM2010 Operations Research, Task Midterm Project
Day 67, Shift 1: IM3004 Organizational Behavior, Task Participation W6
Day 67, Shift 13: IM3004 Organizational Behavior, Task Participation W6
Day 68, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W4
Day 68, Shift 1: IM2010 Operations Research, Task Midterm Project
Day 70, Shift 0: CSIE1212 Data Structures and Algorithms, Task Homework 3
Day 70, Shift 3: CSIE1212 Data Structures and Algorithms, Task Homework 3
Day 70, Shift 7: IM2010 Operations Research, Task Midterm Project
Day 71, Shift 0: ECON1023 Principles of Macroeconomics, Task Quiz 6
Day 72, Shift 0: IM2010 Operations Research, Task Pre‑lecture W5
Day 72, Shift 1: IM3004 Organizational Behavior, Task Participation W7
Day 73, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W5
Day 73, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Class Participation W5
Day 73, Shift 4: MGT1002 Accounting Principles (2), Task TA Session W5
Day 73, Shift 13: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W5
Day 74, Shift 4: IM2010 Operations Research, Task Midterm Project
Day 75, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W5
Day 75, Shift 1: IM2010 Operations Research, Task Midterm Exam
Day 75, Shift 7: IM2010 Operations Research, Task Midterm Project
Day 77, Shift 0: IM3004 Organizational Behavior, Task Participation W8
Day 78, Shift 0: IM2010 Operations Research, Task Midterm Project
Day 78, Shift 6: CSIE1212 Data Structures and Algorithms, Task Homework 3
Day 78, Shift 9: CSIE1212 Data Structures and Algorithms, Task Software Dev Game
Day 79, Shift 0: IM2010 Operations Research, Task Midterm Project
Day 79, Shift 8: IM2010 Operations Research, Task Homework 3
Day 80, Shift 0: MGT1002 Accounting Principles (2), Task TA Session W6
Day 80, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W6
Day 80, Shift 3: JPNL2018 Basic Japanese (Level 1), Task Class Participation W6
Day 80, Shift 5: MATH4010 Calculus IV – Applications in Economics and Business, Task HW1
Day 80, Shift 9: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W6
Day 80, Shift 14: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W6
Day 81, Shift 0: IM2010 Operations Research, Task Homework 3
Day 81, Shift 11: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W6
Day 82, Shift 0: IM3004 Organizational Behavior, Task Participation W9
Day 82, Shift 2: IM2010 Operations Research, Task Homework 3
Day 83, Shift 7: MATH4010 Calculus IV – Applications in Economics and Business, Task WebWork
Day 83, Shift 10: MATH4010 Calculus IV – Applications in Economics and Business, Task HW2
Day 84, Shift 5: IM2010 Operations Research, Task Midterm Exam
Day 84, Shift 11: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W6
Day 84, Shift 15: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W6
Day 85, Shift 0: CSIE1212 Data Structures and Algorithms, Task Software Dev Game
Day 85, Shift 2: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W6
Day 85, Shift 3: CSIE1212 Data Structures and Algorithms, Task Homework 4
Day 85, Shift 7: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W6
Day 85, Shift 8: IM2010 Operations Research, Task Final Project Report (FPR)
Day 86, Shift 10: IM2010 Operations Research, Task Final Project Report (FPR)
Day 87, Shift 0: IM3004 Organizational Behavior, Task Participation W10
Day 87, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W7
Day 87, Shift 4: JPNL2018 Basic Japanese (Level 1), Task Class Participation W7
Day 87, Shift 12: MGT1002 Accounting Principles (2), Task TA Session W7
Day 87, Shift 13: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W7
Day 88, Shift 0: IM2010 Operations Research, Task Final Project Report (FPR)
Day 88, Shift 2: IM3004 Organizational Behavior, Task Final Exam
Day 88, Shift 9: CSIE1212 Data Structures and Algorithms, Task Homework 4
Day 89, Shift 0: CSIE1212 Data Structures and Algorithms, Task Homework 4
Day 90, Shift 0: CSIE1212 Data Structures and Algorithms, Task Homework 4
Day 91, Shift 0: IM2010 Operations Research, Task Final Project Report (FPR)
Day 91, Shift 10: CSIE1212 Data Structures and Algorithms, Task Homework 4
Day 92, Shift 0: IM2010 Operations Research, Task Final Project Report (FPR)
Day 92, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W7
Day 92, Shift 3: IM2010 Operations Research, Task Final Project Report (FPR)
Day 92, Shift 8: IM3004 Organizational Behavior, Task Participation W11
Day 94, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W8
Day 94, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Class Participation W8
Day 94, Shift 12: MGT1002 Accounting Principles (2), Task TA Session W8
Day 94, Shift 13: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W8
Day 95, Shift 0: CSIE1212 Data Structures and Algorithms, Task Kahoot Review
Day 95, Shift 5: IM3004 Organizational Behavior, Task Midterm Exam
Day 95, Shift 9: MATH4010 Calculus IV – Applications in Economics and Business, Task HW2
Day 95, Shift 15: MATH4010 Calculus IV – Applications in Economics and Business, Task Quiz 2
Day 96, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W8
Day 96, Shift 4: MATH4010 Calculus IV – Applications in Economics and Business, Task Final Exam
Day 97, Shift 0: IM3004 Organizational Behavior, Task Participation W12
Day 98, Shift 7: MGT1002 Accounting Principles (2), Task Exam 2
Day 99, Shift 0: MGT1002 Accounting Principles (2), Task Project
Day 99, Shift 1: MATH4010 Calculus IV – Applications in Economics and Business, Task HW3
Day 99, Shift 7: MGT1002 Accounting Principles (2), Task Project
Day 100, Shift 0: ECON1023 Principles of Macroeconomics, Task Final Exam
Day 100, Shift 6: MGT1002 Accounting Principles (2), Task Project
Day 101, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W9
Day 101, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Class Participation W9
Day 101, Shift 9: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W9
Day 101, Shift 11: MGT1002 Accounting Principles (2), Task TA Session W9
Day 102, Shift 0: IM3004 Organizational Behavior, Task Participation W13
Day 103, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W9
Day 103, Shift 2: ECON1023 Principles of Macroeconomics, Task Final Exam
Day 105, Shift 6: MATH4010 Calculus IV – Applications in Economics and Business, Task Quiz 2
Day 105, Shift 10: ECON1023 Principles of Macroeconomics, Task Final Exam
Day 106, Shift 0: MATH4010 Calculus IV – Applications in Economics and Business, Task HW3
Day 106, Shift 4: MATH4010 Calculus IV – Applications in Economics and Business, Task WebWork
Day 106, Shift 5: IM3004 Organizational Behavior, Task Midterm Exam
Day 106, Shift 6: MGT1002 Accounting Principles (2), Task Exam 3
Day 106, Shift 8: JPNL2018 Basic Japanese (Level 1), Task Final Exam
Day 107, Shift 0: CSIE1212 Data Structures and Algorithms, Task Midterm Exam
Day 107, Shift 2: IM3004 Organizational Behavior, Task Participation W14
Day 108, Shift 0: MGT1002 Accounting Principles (2), Task TA Session W10
Day 108, Shift 1: JPNL2018 Basic Japanese (Level 1), Task Class Participation W10
Day 108, Shift 5: JPNL2018 Basic Japanese (Level 1), Task Reading Practice W10
Day 108, Shift 11: JPNL2018 Basic Japanese (Level 1), Task In‑class Quiz W10
Day 109, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Final Exam
Day 109, Shift 15: JPNL2018 Basic Japanese (Level 1), Task Final Exam
Day 110, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Post‑lesson HW W10
Day 110, Shift 2: MATH4008 Calculus III, Task Quiz 1
Day 110, Shift 5: JPNL2018 Basic Japanese (Level 1), Task Final Exam
Day 110, Shift 13: MATH4010 Calculus IV – Applications in Economics and Business, Task Quiz 2
Day 111, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Final Exam
Day 111, Shift 2: JPNL2018 Basic Japanese (Level 1), Task Final Exam
Day 112, Shift 0: IM3004 Organizational Behavior, Task Participation W15
Day 112, Shift 3: IM3004 Organizational Behavior, Task Participation W15
Day 112, Shift 4: IM3004 Organizational Behavior, Task Participation W15
Day 113, Shift 0: JPNL2018 Basic Japanese (Level 1), Task Final Exam
Day 114, Shift 0: MATH4010 Calculus IV – Applications in Economics and Business, Task Quiz 2
Day 114, Shift 2: MATH4010 Calculus IV – Applications in Economics and Business, Task Quiz 2
Day 114, Shift 7: MATH4010 Calculus IV – Applications in Economics and Business, Task Quiz 1

In [34]:
task_count = df_schedule.groupby(["Course", "Task"]).size().reset_index(name="Count")
print(task_count)

                                      Course           Task  Count
0    CSIE1212 Data Structures and Algorithms     Earth Game      1
1    CSIE1212 Data Structures and Algorithms     Final Exam      2
2    CSIE1212 Data Structures and Algorithms     Homework 0      3
3    CSIE1212 Data Structures and Algorithms     Homework 1      5
4    CSIE1212 Data Structures and Algorithms     Homework 2      5
..                                       ...            ...    ...
116        MGT1002 Accounting Principles (2)  TA Session W5      1
117        MGT1002 Accounting Principles (2)  TA Session W6      1
118        MGT1002 Accounting Principles (2)  TA Session W7      1
119        MGT1002 Accounting Principles (2)  TA Session W8      1
120        MGT1002 Accounting Principles (2)  TA Session W9      1

[121 rows x 3 columns]

In [35]:
tasks_per_day = df_schedule.groupby("Day").size().reset_index(name="Task Count")
print(tasks_per_day)

     Day  Task Count
0      1           2
1      2           1
2      4           2
3      6           1
4      7           1
..   ...         ...
97   110           4
98   111           2
99   112           3
100  113           1
101  114           3

[102 rows x 2 columns]

In [36]:
heatmap = df_schedule.pivot_table(index="Day", columns="Shift", aggfunc="size", fill_value=0)
print(heatmap)

Shift  0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
Day
1       0   1   1   0   0   0   0   0   0   0   0   0   0   0   0   0
2       0   0   0   1   0   0   0   0   0   0   0   0   0   0   0   0
4       1   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
6       1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
7       1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
..     ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
110     1   0   1   0   0   1   0   0   0   0   0   0   0   1   0   0
111     1   0   1   0   0   0   0   0   0   0   0   0   0   0   0   0
112     1   0   0   1   1   0   0   0   0   0   0   0   0   0   0   0
113     1   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
114     1   0   1   0   0   0   0   1   0   0   0   0   0   0   0   0

[102 rows x 16 columns]