# Timmy's couse scheduling

## Section 1

### import

In [23]:
from gurobipy import Model, GRB, quicksum
import pandas as pd
import numpy as np
import re
import gurobipy as gp
import math

### data reading and preprocessing

In [40]:
# Normalize dashes in the "Fixed slot (k,t)" column
def normalize_slot(val):
    if isinstance(val, str):
        val = re.sub(r"[–—]", "-", val)      # Replace all types of dashes with '-'
        val = re.sub(r"[Ss]hifts", "Shift", val)  # Replace "shifts" or "Shifts" with "shift"
        val = re.sub(r" ", "", val)  # Replace "shifts" or "Shifts" with "shift"
    return val

def parse_fixed_slot(value):
    if pd.isna(value) or not isinstance(value, str):
        return value

    # Normalize unusual spaces (non-breaking, narrow no-break, etc.) to regular space
    value = re.sub(r'[\u00A0\u202F\u2009\u200A\u200B]', ' ', value)
    value = value.replace('\xa0', ' ')  # Also catch more hidden non-breaking spaces
    value = value.replace('–', '-')     # Replace en dash with hyphen

    # Remove extra spaces and unify format
    value = re.sub(r'\s+', '', value)

    # Updated pattern: now it can catch things like Day45Shift10 or Day45-47Shift10-12
    pattern = r"Day(\d+(?:-\d+)?)Shift(\d+(?:-\d+)?)"
    matches = re.findall(pattern, value)

    result = []

    for day_range, shift_range in matches:
        # Handle day range
        if '-' in day_range:
            start_day, end_day = map(int, day_range.split('-'))
            days = range(start_day, end_day + 1)
        else:
            days = [int(day_range)]

        # Handle shift range
        if '-' in shift_range:
            start_shift, end_shift = map(int, shift_range.split('-'))
            shifts = range(start_shift, end_shift + 1)
        else:
            shifts = [int(shift_range)]

        # Combine
        result.extend((d, s) for d in days for s in shifts)

    return result if result else value

def clean_hours(val):
    if pd.isna(val):
        return val
    if isinstance(val, str):
        # Replace en dash and em dash with regular hyphen
        val = val.replace('–', '-').replace('—', '-')

        # Remove parentheses and their contents
        val = re.sub(r"\(.*?\)", "", val).strip()

        # Handle patterns like "1-2", "1 - 2", "1.5-2.5"
        if re.match(r"^\d+(\.\d+)?\s*-\s*\d+(\.\d+)?$", val):
            parts = re.split(r"\s*-\s*", val)
            try:
                numbers = [float(p) for p in parts]
                return sum(numbers) / 2
            except ValueError:
                return val  # fallback if something goes wrong

    try:
        return float(val)
    except (ValueError, TypeError):
        return val

def expand_weekly_tasks(df, weekday_info):
    # check release
    new_rows = []   
    to_drop = []    
    for idx, row in df.iterrows():
        release = row["Release r"]
        if isinstance(release, str) and release.startswith("Weekly"):
            match = re.match(r"Weekly\s+(Mon|Tue|Wed|Thu|Fri|Sat|Sun)", release)
            if match:
                day_str = match.group(1)
                if day_str in weekday_info:
                    start_day = weekday_info[day_str]["start_day"]
                    count = weekday_info[day_str]["count"]

                    for k in range(count):
                        new_row = row.copy()
                        new_row["Task name"] = f"{row['Task name']} {k+1}"
                        new_row["Release r"] = start_day + k * 7
                        deadline = new_row["Deadline d"]
                        if isinstance(deadline, str) and deadline.startswith("Weekly"):
                            match_deadline = re.match(r"Weekly\s+(Mon|Tue|Wed|Thu|Fri|Sat|Sun)", deadline)
                            deadline = (weekday_info[match_deadline.group(1)]["start_day"] - weekday_info[day_str]["start_day"] - 1) % 7 + 1
                            new_row["Deadline d"] = new_row["Release r"] + deadline
                        new_rows.append(new_row)
                    to_drop.append(idx)
    df = df.drop(index=to_drop).reset_index(drop=True)
    if new_rows:
        df = pd.concat([df, pd.DataFrame(new_rows)], ignore_index=True)
    return df

weekday_map = {
    "Mon": {"count": 16, "start_day": 1},   # 13 Mondays, starting at day 1
    "Tue": {"count": 16, "start_day": 2},
    "Wed": {"count": 16, "start_day": 3},
    "Thu": {"count": 16, "start_day": 4},
    "Fri": {"count": 16, "start_day": 5},
    "Sat": {"count": 16, "start_day": 6},
    "Sun": {"count": 16, "start_day": 7},
}

#### data 1

In [3]:
# courses = pd.read_excel("Timmy_courses.xlsx")
# courses.replace('—', np.nan, inplace=True)
# courses["Fixed slot (k,t)"] = courses["Fixed slot (k,t)"].apply(normalize_slot)
# courses["Fixed slot (k,t)"] = courses["Fixed slot (k,t)"].apply(parse_fixed_slot)
# courses["E (hrs)"] = courses["E (hrs)"].apply(clean_hours)

# course_names = []
# course_tables = []
# start_idx = None
# for idx, row in courses.iterrows():
#     task_name = row['Task name']
#     task_type = row['Type']
#     if pd.notna(task_name) and pd.isna(task_type):
#         print(start_idx)
#         if start_idx is not None:
#             course_table = courses.iloc[start_idx+1:idx].reset_index(drop=True)
#             course_table = expand_weekly_tasks(course_table, weekday_map)
#             course_tables.append(course_table)
#         course_names.append(task_name)
#         start_idx = idx

# # Add this to capture the last course table
# if start_idx is not None:
#     course_table = courses.iloc[start_idx+1:].reset_index(drop=True)
#     course_table = expand_weekly_tasks(course_table, weekday_map)
#     course_tables.append(course_table)

# for (table, name) in zip(course_tables, course_names):
#     print(name)
#     display(table)

#### data 2

In [41]:
courses = pd.read_excel("Timmy_courses_updated.xlsx")
courses.replace('—', np.nan, inplace=True)
courses["Fixed slot (k,t)"] = courses["Fixed slot (k,t)"].apply(normalize_slot)
courses["Fixed slot (k,t)"] = courses["Fixed slot (k,t)"].apply(parse_fixed_slot)
courses["E (hrs)"] = courses["E (hrs)"].apply(clean_hours)

course_info = []
course_tables = []
start_idx = None
for idx, row in courses.iterrows():
    task_name = row['Task name']
    task_type = row['Type']
    if pd.notna(task_name) and pd.isna(task_type):
        if start_idx is not None:
            course_table = courses.iloc[start_idx+1:idx].reset_index(drop=True)
            course_table = expand_weekly_tasks(course_table, weekday_map)
            course_table.dropna(subset=["Task name"], inplace=True)
            course_tables.append(course_table)
        course_info.append({
            "course_name": task_name, 
            "credit": row["Credit"],
            "preference": row["Preference"],
        })
        start_idx = idx

# Add this to capture the last course table
if start_idx is not None:
    course_table = courses.iloc[start_idx+1:].reset_index(drop=True)
    course_table = expand_weekly_tasks(course_table, weekday_map)
    course_table.dropna(subset=["Task name"], inplace=True)
    course_tables.append(course_table)

for (table, info) in zip(course_tables, course_info):
    display(info)
    display(table)

{'course_name': 'IM2010 Operations Research', 'credit': 3.0, 'preference': 1.0}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,HW0,Homework,0.0,1,7,NaN,2.0,NaN,NaN,NaN,NaN
1,Homework 1,Homework,5.0,22,26,NaN,4.0,NaN,NaN,NaN,NaN
2,Homework 2,Homework,5.0,29,33,NaN,4.0,NaN,NaN,NaN,NaN
3,Homework 3,Homework,5.0,78,82,NaN,4.0,NaN,NaN,NaN,NaN
4,Final Project Proposal (FPP),Homework,0.0,36,40,NaN,3.0,NaN,NaN,NaN,NaN
5,Midterm Project,Homework,20.0,64,82,NaN,12.0,NaN,NaN,NaN,NaN
6,Final Project Video (FPV),Homework,0.0,85,96,NaN,8.0,NaN,NaN,NaN,NaN
7,Final Project Report (FPR),Homework,25.0,85,96,NaN,10.0,NaN,NaN,NaN,NaN
8,Midterm Exam,Exam,12.0,NaN,NaN,"[(50, 2), (50, 3), (50, 4)]",6.0,Fixed slot,NaN,NaN,NaN
9,Final Exam,Exam,18.0,NaN,NaN,"[(106, 2), (106, 3), (106, 4)]",6.0,Fixed slot,NaN,NaN,NaN
10,Survey / Admin Tasks,Homework,5.0,1,106,NaN,1.0,No time restrictions,NaN,NaN,NaN
11,Pre‑lecture W1,Homework,1.0,44,44,"[(44, 2), (44, 3), (44, 4)]",1.0,NaN,NaN,NaN,NaN
12,Pre‑lecture W2,Homework,1.0,51,51,"[(51, 2), (51, 3), (51, 4)]",1.0,NaN,NaN,NaN,NaN
13,Pre‑lecture W3,Homework,1.0,58,58,"[(58, 2), (58, 3), (58, 4)]",1.0,NaN,NaN,NaN,NaN
14,Pre‑lecture W4,Homework,1.0,65,65,"[(65, 2), (65, 3), (65, 4)]",1.0,NaN,NaN,NaN,NaN
15,Pre‑lecture W5,Homework,1.0,72,72,"[(72, 2), (72, 3), (72, 4)]",1.0,NaN,NaN,NaN,NaN

{'course_name': 'MATH4008 Calculus III', 'credit': 2.0, 'preference': 0.8}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Worksheet 1,Homework,7.0,8,22,NaN,2.0,NaN,NaN,NaN,NaN
1,Worksheet 2,Homework,7.0,22,36,NaN,2.0,NaN,NaN,NaN,NaN
2,Worksheet 3,Homework,7.0,36,50,NaN,2.0,NaN,NaN,NaN,NaN
3,WeBWorK,Homework,10.0,1,56,NaN,4.0,Online assignments,NaN,NaN,NaN
4,Quiz 1,Exam,10.0,15,NaN,"[(18, 11)]",3.0,17:30–18:20,NaN,NaN,NaN
5,Quiz 2,Exam,10.0,36,NaN,"[(39, 11)]",3.0,17:30–18:20,NaN,NaN,NaN
6,Final Exam,Exam,50.0,NaN,NaN,"[(57, 7), (57, 8), (57, 9)]",8.0,13:30–16:30,NaN,NaN,NaN

{'course_name': 'MATH4010 Calculus IV – Applications in Economics and Business',
 'credit': 2.0,
 'preference': 0.8}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,HW1,Homework,5.0,68,82,NaN,2.0,NaN,NaN,NaN,NaN
1,HW2,Homework,5.0,82,96,NaN,2.0,NaN,NaN,NaN,NaN
2,HW3,Homework,5.0,96,109,NaN,2.0,NaN,NaN,NaN,NaN
3,WebWork,Homework,5.0,57,109,NaN,4.0,Online assignments,NaN,NaN,NaN
4,Quiz 1,Exam,15.0,80,NaN,"[(82, 11)]",3.0,17:30–18:20,NaN,NaN,NaN
5,Quiz 2,Exam,15.0,94,NaN,"[(96, 11)]",3.0,17:30–18:20,NaN,NaN,NaN
6,Final Exam,Exam,50.0,NaN,NaN,"[(111, 7), (111, 8), (111, 9)]",8.0,13:30–16:30,NaN,NaN,NaN

{'course_name': 'CSIE1212 Data Structures and Algorithms',
 'credit': 3.0,
 'preference': 1.0}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Homework 0,Homework,4.0,1,64,NaN,6.00,Programming component (part of 20 %),NaN,NaN,NaN
1,Homework 1,Homework,4.0,22,36,NaN,8.00,Programming component,NaN,NaN,NaN
2,Homework 2,Homework,4.0,36,64,NaN,8.00,Programming component,NaN,NaN,NaN
3,Homework 3,Homework,4.0,57,78,NaN,8.00,Programming component,NaN,NaN,NaN
4,Homework 4,Homework,4.0,78,92,NaN,8.00,Programming component,NaN,NaN,NaN
5,Mini Homework A–F,Homework,10.0,8–36,64,NaN,1.50,Writing component; 6 tasks × 1.67 %,NaN,NaN,NaN
6,Mini Homework G–L,Homework,10.0,43–92,115,NaN,1.50,Writing component; 6 tasks × 1.67 %,NaN,NaN,NaN
7,Earth Game,Activity,4.0,57,64,NaN,3.00,Part of 10 % Activity,NaN,NaN,NaN
8,Software Dev Game,Activity,3.0,78,85,NaN,3.00,Part of 10 % Activity,NaN,NaN,NaN
9,Kahoot Review,Activity,3.0,92,99,NaN,1.00,Part of 10 % Activity,NaN,NaN,NaN
10,Midterm Exam,Exam,25.0,NaN,NaN,"[(50, 8)]",6.00,Fixed slot 13:20–16:20,NaN,NaN,NaN
11,Final Exam,Exam,25.0,NaN,NaN,"[(106, 8)]",6.00,Fixed slot,NaN,NaN,NaN
13,With‑Video Quizzes 1,Online Quiz,0.0,2,7,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
14,With‑Video Quizzes 2,Online Quiz,0.0,9,14,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
15,With‑Video Quizzes 3,Online Quiz,0.0,16,21,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
16,With‑Video Quizzes 4,Online Quiz,0.0,23,28,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
17,With‑Video Quizzes 5,Online Quiz,0.0,30,35,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
18,With‑Video Quizzes 6,Online Quiz,0.0,37,42,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
19,With‑Video Quizzes 7,Online Quiz,0.0,44,49,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
20,With‑Video Quizzes 8,Online Quiz,0.0,51,56,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
21,With‑Video Quizzes 9,Online Quiz,0.0,58,63,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
22,With‑Video Quizzes 10,Online Quiz,0.0,65,70,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
23,With‑Video Quizzes 11,Online Quiz,0.0,72,77,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
24,With‑Video Quizzes 12,Online Quiz,0.0,79,84,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
25,With‑Video Quizzes 13,Online Quiz,0.0,86,91,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
26,With‑Video Quizzes 14,Online Quiz,0.0,93,98,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
27,With‑Video Quizzes 15,Online Quiz,0.0,100,105,NaN,0.25,Bonus (no weight),NaN,NaN,NaN
28,With‑Video Quizzes 16,Online Quiz,0.0,107,112,NaN,0.25,Bonus (no weight),NaN,NaN,NaN

{'course_name': 'ECON1023 Principles of Macroeconomics',
 'credit': 3.0,
 'preference': 0.6}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Quiz 1,Exam,4.0,14,26,"[(26, 4)]",2.0,10:30–11:10,NaN,NaN,NaN
1,Quiz 2,Exam,4.0,23,33,"[(33, 4)]",2.0,NaN,NaN,NaN,NaN
2,Quiz 3,Exam,4.0,30,40,"[(40, 4)]",2.0,NaN,NaN,NaN,NaN
3,Quiz 4,Exam,4.0,42,54,"[(54, 4)]",2.0,NaN,NaN,NaN,NaN
4,Quiz 5,Exam,4.0,54,68,"[(68, 4)]",2.0,NaN,NaN,NaN,NaN
5,Quiz 6,Exam,4.0,61,75,"[(75, 4)]",2.0,NaN,NaN,NaN,NaN
6,Midterm Exam,Exam,40.0,30,56,"[(56, 3), (56, 4), (56, 5)]",6.0,9:30–11:30,NaN,NaN,NaN
7,Final Exam,Exam,40.0,96,110,110,6.0,9:30–11:30,NaN,NaN,NaN

{'course_name': 'JPNL2018 Basic Japanese (Level 1)',
 'credit': 3.0,
 'preference': 0.8}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Class Participation W1,Homework,1.0,45,45,"[(45, 2), (45, 3), (45, 4)]",0.5,NaN,NaN,NaN,NaN
1,Class Participation W2,Homework,1.0,52,52,"[(52, 2), (52, 3), (52, 4)]",0.5,NaN,NaN,NaN,NaN
2,Class Participation W3,Homework,1.0,59,59,"[(59, 2), (59, 3), (59, 4)]",0.5,NaN,NaN,NaN,NaN
3,Class Participation W4,Homework,1.0,66,66,"[(66, 2), (66, 3), (66, 4)]",0.5,NaN,NaN,NaN,NaN
4,Class Participation W5,Homework,1.0,73,73,"[(73, 2), (73, 3), (73, 4)]",0.5,NaN,NaN,NaN,NaN
5,Class Participation W6,Homework,1.0,80,80,"[(80, 2), (80, 3), (80, 4)]",0.5,NaN,NaN,NaN,NaN
6,Class Participation W7,Homework,1.0,87,87,"[(87, 2), (87, 3), (87, 4)]",0.5,NaN,NaN,NaN,NaN
7,Class Participation W8,Homework,1.0,94,94,"[(94, 2), (94, 3), (94, 4)]",0.5,NaN,NaN,NaN,NaN
8,Class Participation W9,Homework,1.0,101,101,"[(101, 2), (101, 3), (101, 4)]",0.5,NaN,NaN,NaN,NaN
9,Class Participation W10,Homework,1.0,108,108,"[(108, 2), (108, 3), (108, 4)]",0.5,NaN,NaN,NaN,NaN
10,Post‑lesson HW W1,Homework,1.0,45,52,NaN,1.0,NaN,NaN,NaN,NaN
11,Post‑lesson HW W2,Homework,1.0,52,59,NaN,1.0,NaN,NaN,NaN,NaN
12,Post‑lesson HW W3,Homework,1.0,59,66,NaN,1.0,NaN,NaN,NaN,NaN
13,Post‑lesson HW W4,Homework,1.0,66,73,NaN,1.0,NaN,NaN,NaN,NaN
14,Post‑lesson HW W5,Homework,1.0,73,80,NaN,1.0,NaN,NaN,NaN,NaN
15,Post‑lesson HW W6,Homework,1.0,80,87,NaN,1.0,NaN,NaN,NaN,NaN
16,Post‑lesson HW W7,Homework,1.0,87,94,NaN,1.0,NaN,NaN,NaN,NaN
17,Post‑lesson HW W8,Homework,1.0,94,101,NaN,1.0,NaN,NaN,NaN,NaN
18,Post‑lesson HW W9,Homework,1.0,101,108,NaN,1.0,NaN,NaN,NaN,NaN
19,Post‑lesson HW W10,Homework,1.0,108,115,NaN,1.0,NaN,NaN,NaN,NaN
20,In‑class Quiz W1,Exam,1.0,45,45,"[(45, 3)]",0.5,NaN,NaN,NaN,NaN
21,In‑class Quiz W2,Exam,1.0,52,52,"[(52, 3)]",0.5,NaN,NaN,NaN,NaN
22,In‑class Quiz W3,Exam,1.0,59,59,"[(59, 3)]",0.5,NaN,NaN,NaN,NaN
23,In‑class Quiz W4,Exam,1.0,66,66,"[(66, 3)]",0.5,NaN,NaN,NaN,NaN
24,In‑class Quiz W5,Exam,1.0,73,73,"[(73, 3)]",0.5,NaN,NaN,NaN,NaN
25,In‑class Quiz W6,Exam,1.0,80,80,"[(80, 3)]",0.5,NaN,NaN,NaN,NaN
26,In‑class Quiz W7,Exam,1.0,87,87,"[(87, 3)]",0.5,NaN,NaN,NaN,NaN
27,In‑class Quiz W8,Exam,1.0,94,94,"[(94, 3)]",0.5,NaN,NaN,NaN,NaN
28,In‑class Quiz W9,Exam,1.0,101,101,"[(101, 3)]",0.5,NaN,NaN,NaN,NaN
29,In‑class Quiz W10,Exam,1.0,108,108,"[(108, 3)]",0.5,NaN,NaN,NaN,NaN
30,Reading Practice W1,Homework,1.0,45,45,NaN,0.5,NaN,NaN,NaN,NaN
31,Reading Practice W2,Homework,1.0,52,52,NaN,0.5,NaN,NaN,NaN,NaN
32,Reading Practice W3,Homework,1.0,59,59,NaN,0.5,NaN,NaN,NaN,NaN
33,Reading Practice W4,Homework,1.0,66,66,NaN,0.5,NaN,NaN,NaN,NaN
34,Reading Practice W5,Homework,1.0,73,73,NaN,0.5,NaN,NaN,NaN,NaN
35,Reading Practice W6,Homework,1.0,80,80,NaN,0.5,NaN,NaN,NaN,NaN
36,Reading Practice W7,Homework,1.0,87,87,NaN,0.5,NaN,NaN,NaN,NaN
37,Reading Practice W8,Homework,1.0,94,94,NaN,0.5,NaN,NaN,NaN,NaN
38,Reading Practice W9,Homework,1.0,101,101,NaN,0.5,NaN,NaN,NaN,NaN
39,Reading Practice W10,Homework,1.0,108,108,NaN,0.5,NaN,NaN,NaN,NaN
40,Midterm Exam,Exam,30.0,43,50,"[(50, 2), (50, 3), (50, 4)]",4.0,Wed 4/9,NaN,NaN,NaN
41,Final Exam,Exam,30.0,106,113,"[(113, 2), (113, 3), (113, 4)]",4.0,Wed 6/4,NaN,NaN,NaN

{'course_name': 'IM3004 Organizational Behavior',
 'credit': 3.0,
 'preference': 0.4}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Case Study Presentation,Homework,25.0,1,Group week,"[(15, 7), (16, 7), (17, 7), (18, 7), (19, 7), ...",8.0,Present during Monday 14:20–17:20,NaN,NaN,NaN
1,Midterm Exam,Exam,30.0,NaN,NaN,"[(50, 7)]",6.0,Mon 4/7,NaN,NaN,NaN
2,Final Exam,Exam,30.0,NaN,NaN,"[(106, 7)]",6.0,Mon 6/2,NaN,NaN,NaN
3,Participation W1,Homework,1.0,42,42,"[(42, 7)]",0.5,NaN,NaN,NaN,NaN
4,Participation W2,Homework,1.0,47,47,"[(47, 7)]",0.5,NaN,NaN,NaN,NaN
5,Participation W3,Homework,1.0,52,52,"[(52, 7)]",0.5,NaN,NaN,NaN,NaN
6,Participation W4,Homework,1.0,57,57,"[(57, 7)]",0.5,NaN,NaN,NaN,NaN
7,Participation W5,Homework,1.0,62,62,"[(62, 7)]",0.5,NaN,NaN,NaN,NaN
8,Participation W6,Homework,1.0,67,67,"[(67, 7)]",0.5,NaN,NaN,NaN,NaN
9,Participation W7,Homework,1.0,72,72,"[(72, 7)]",0.5,NaN,NaN,NaN,NaN
10,Participation W8,Homework,1.0,77,77,"[(77, 7)]",0.5,NaN,NaN,NaN,NaN
11,Participation W9,Homework,1.0,82,82,"[(82, 7)]",0.5,NaN,NaN,NaN,NaN
12,Participation W10,Homework,1.0,87,87,"[(87, 7)]",0.5,NaN,NaN,NaN,NaN
13,Participation W11,Homework,1.0,92,92,"[(92, 7)]",0.5,NaN,NaN,NaN,NaN
14,Participation W12,Homework,1.0,97,97,"[(97, 7)]",0.5,NaN,NaN,NaN,NaN
15,Participation W13,Homework,1.0,102,102,"[(102, 7)]",0.5,NaN,NaN,NaN,NaN
16,Participation W14,Homework,1.0,107,107,"[(107, 7)]",0.5,NaN,NaN,NaN,NaN
17,Participation W15,Homework,1.0,112,112,"[(112, 7)]",0.5,NaN,NaN,NaN,NaN

{'course_name': 'MGT1002 Accounting Principles (2)',
 'credit': 3.0,
 'preference': 0.8}

,Task name,Type,Weight (%),Release r,Deadline d,"Fixed slot (k,t)",E (hrs),Notes,Credit,Preference,Minimum grade
0,Quiz,Exam,4.0,15,22,"[(22, 10)]",1.0,3/12 in‑class,NaN,NaN,NaN
1,Project,Homework,6.0,99,103,"[(103, 10)]",5.0,Report day 5/23,NaN,NaN,NaN
2,Exam 1,Exam,27.0,NaN,NaN,"[(31, 10)]",6.0,3/19 in‑class,NaN,NaN,NaN
3,Exam 2,Exam,27.0,NaN,NaN,"[(66, 10)]",6.0,4/23 in‑class,NaN,NaN,NaN
4,Exam 3,Exam,26.0,NaN,NaN,"[(109, 10)]",6.0,6/4 in‑class,NaN,NaN,NaN
5,TA Session W1,Homework,1.0,45,45,"[(45, 10)]",0.5,NaN,NaN,NaN,NaN
6,TA Session W2,Homework,1.0,52,52,"[(52, 10)]",0.5,NaN,NaN,NaN,NaN
7,TA Session W3,Homework,1.0,59,59,"[(59, 10)]",0.5,NaN,NaN,NaN,NaN
8,TA Session W4,Homework,1.0,66,66,"[(66, 10)]",0.5,NaN,NaN,NaN,NaN
9,TA Session W5,Homework,1.0,73,73,"[(73, 10)]",0.5,NaN,NaN,NaN,NaN
10,TA Session W6,Homework,1.0,80,80,"[(80, 10)]",0.5,NaN,NaN,NaN,NaN
11,TA Session W7,Homework,1.0,87,87,"[(87, 10)]",0.5,NaN,NaN,NaN,NaN
12,TA Session W8,Homework,1.0,94,94,"[(94, 10)]",0.5,NaN,NaN,NaN,NaN
13,TA Session W9,Homework,1.0,101,101,"[(101, 10)]",0.5,NaN,NaN,NaN,NaN
14,TA Session W10,Homework,1.0,108,108,"[(108, 10)]",0.5,NaN,NaN,NaN,NaN

#### data 3

In [42]:
day_limit = pd.read_excel("Timmy_Personal_Data.xlsx", usecols=[0, 1])
display(day_limit.head())

Timmy_status = pd.read_excel("Timmy_Personal_Data.xlsx", usecols=[2, 3, 4], nrows = 1)
display(Timmy_status.head())

Timmy_efficiency = pd.read_excel("Timmy_Personal_Data.xlsx", usecols=[6, 7], nrows=3)
display(Timmy_efficiency.head())

Timmy_efficiency.rename(columns={"Unnamed: 6": "Type"}, inplace = True)
display(Timmy_efficiency.head())

new_row = pd.DataFrame([{"Type": "Online Quiz", "Base efficiency": 0.0}])
Timmy_efficiency = pd.concat([Timmy_efficiency, new_row], ignore_index=True)
display(Timmy_efficiency.head())

   Day  Workload Limits
0    1                6
1    2                6
2    3                6
3    4                6
4    5                6

   Penalty coefficient  Circadian peak  Full cosine swing
0                    1               5                  1

  Unnamed: 6  Base efficiency
0   Homework              0.6
1       Exam              1.0
2  Acativity              1.0

        Type  Base efficiency
0   Homework              0.6
1       Exam              1.0
2  Acativity              1.0

          Type  Base efficiency
0     Homework              0.6
1         Exam              1.0
2    Acativity              1.0
3  Online Quiz              0.0

### parameter

In [43]:
num_course = len(course_info)
num_day = day_limit.shape[0] # 2/17-6/8
num_shift = 16
minimum_grade = 60

# Indices
I = range(num_course)                # Courses
J = {i: course_tables[i] for i in I}  # Tasks per course i
K = range(num_day)                # Days
T = range(num_shift)               # Shifts per day

w = {i: course_info[i]["credit"] for i in I}           
print("weight per course\n", w)
S = {(i, idx): row["Weight (%)"] for i in I for idx, row in J[i].iterrows()}
print("weight per task\n", S)
E = {(i, idx): row["E (hrs)"] for i in I for idx, row in J[i].iterrows()}
print("task required time\n", E)
r = {(i, idx): row["Release r"] for i in I for idx, row in J[i].iterrows()}
print("task releaase times\n", r)
d = {(i, idx): row["Deadline d"] for i in I for idx, row in J[i].iterrows()}
print("task deadlines\n", d)
B = minimum_grade                    # Minimum grade
print("minimum grades each course (all the same)\n", B)
H_star = {k: day_limit["Workload Limits"][k] for k in K}                                 # Threshold for overload
print("max study time each day\n", H_star)
beta = Timmy_status["Penalty coefficient"][0]                               # Penalty weight
print("penalty (if studying too long)\n", beta)

# Define P_ijkt
eta_type = {(i, idx): row["Base efficiency"] for i in I for idx, row in course_tables[i].merge(Timmy_efficiency, on="Type").iterrows()}
print("Timmy's efficiency to each task\n", eta_type)
theta = {i: course_info[i]["preference"] for i in I}  # enthusiasm per course
print("Timmy's enthusiasm to each course\n", theta)
h_t = {t: t+0.5 for t in T[:num_shift]}  # 
print("midpoint hour for shift\n", h_t)
h_peak = Timmy_status["Circadian peak"][0]   # peak energy time
print("peak energy time", h_peak)
a = 1       # circadian amplitude

weight per course
 {0: 3.0, 1: 2.0, 2: 2.0, 3: 3.0, 4: 3.0, 5: 3.0, 6: 3.0, 7: 3.0}
weight per task
 {(0, 0): 0.0, (0, 1): 5.0, (0, 2): 5.0, (0, 3): 5.0, (0, 4): 0.0, (0, 5): 20.0, (0, 6): 0.0, (0, 7): 25.0, (0, 8): 12.0, (0, 9): 18.0, (0, 10): 5.0, (0, 11): 1.0, (0, 12): 1.0, (0, 13): 1.0, (0, 14): 1.0, (0, 15): 1.0, (1, 0): 7.0, (1, 1): 7.0, (1, 2): 7.0, (1, 3): 10.0, (1, 4): 10.0, (1, 5): 10.0, (1, 6): 50.0, (2, 0): 5.0, (2, 1): 5.0, (2, 2): 5.0, (2, 3): 5.0, (2, 4): 15.0, (2, 5): 15.0, (2, 6): 50.0, (3, 0): 4.0, (3, 1): 4.0, (3, 2): 4.0, (3, 3): 4.0, (3, 4): 4.0, (3, 5): 10.0, (3, 6): 10.0, (3, 7): 4.0, (3, 8): 3.0, (3, 9): 3.0, (3, 10): 25.0, (3, 11): 25.0, (3, 13): 0.0, (3, 14): 0.0, (3, 15): 0.0, (3, 16): 0.0, (3, 17): 0.0, (3, 18): 0.0, (3, 19): 0.0, (3, 20): 0.0, (3, 21): 0.0, (3, 22): 0.0, (3, 23): 0.0, (3, 24): 0.0, (3, 25): 0.0, (3, 26): 0.0, (3, 27): 0.0, (3, 28): 0.0, (4, 0): 4.0, (4, 1): 4.0, (4, 2): 4.0, (4, 3): 4.0, (4, 4): 4.0, (4, 5): 4.0, (4, 6): 40.0, (4, 7): 40.0, (5, 0): 1.0, (5, 1): 1.0, (5, 2): 1.0, (5, 3): 1.0, (5, 4): 1.0, (5, 5): 1.0, (5, 6): 1.0, (5, 7): 1.0, (5, 8): 1.0, (5, 9): 1.0, (5, 10): 1.0, (5, 11): 1.0, (5, 12): 1.0, (5, 13): 1.0, (5, 14): 1.0, (5, 15): 1.0, (5, 16): 1.0, (5, 17): 1.0, (5, 18): 1.0, (5, 19): 1.0, (5, 20): 1.0, (5, 21): 1.0, (5, 22): 1.0, (5, 23): 1.0, (5, 24): 1.0, (5, 25): 1.0, (5, 26): 1.0, (5, 27): 1.0, (5, 28): 1.0, (5, 29): 1.0, (5, 30): 1.0, (5, 31): 1.0, (5, 32): 1.0, (5, 33): 1.0, (5, 34): 1.0, (5, 35): 1.0, (5, 36): 1.0, (5, 37): 1.0, (5, 38): 1.0, (5, 39): 1.0, (5, 40): 30.0, (5, 41): 30.0, (6, 0): 25.0, (6, 1): 30.0, (6, 2): 30.0, (6, 3): 1.0, (6, 4): 1.0, (6, 5): 1.0, (6, 6): 1.0, (6, 7): 1.0, (6, 8): 1.0, (6, 9): 1.0, (6, 10): 1.0, (6, 11): 1.0, (6, 12): 1.0, (6, 13): 1.0, (6, 14): 1.0, (6, 15): 1.0, (6, 16): 1.0, (6, 17): 1.0, (7, 0): 4.0, (7, 1): 6.0, (7, 2): 27.0, (7, 3): 27.0, (7, 4): 26.0, (7, 5): 1.0, (7, 6): 1.0, (7, 7): 1.0, (7, 8): 1.0, (7, 9): 1.0, (7, 10): 1.0, (7, 11): 1.0, (7, 12): 1.0, (7, 13): 1.0, (7, 14): 1.0}
task required time
 {(0, 0): 2.0, (0, 1): 4.0, (0, 2): 4.0, (0, 3): 4.0, (0, 4): 3.0, (0, 5): 12.0, (0, 6): 8.0, (0, 7): 10.0, (0, 8): 6.0, (0, 9): 6.0, (0, 10): 1.0, (0, 11): 1.0, (0, 12): 1.0, (0, 13): 1.0, (0, 14): 1.0, (0, 15): 1.0, (1, 0): 2.0, (1, 1): 2.0, (1, 2): 2.0, (1, 3): 4.0, (1, 4): 3.0, (1, 5): 3.0, (1, 6): 8.0, (2, 0): 2.0, (2, 1): 2.0, (2, 2): 2.0, (2, 3): 4.0, (2, 4): 3.0, (2, 5): 3.0, (2, 6): 8.0, (3, 0): 6.0, (3, 1): 8.0, (3, 2): 8.0, (3, 3): 8.0, (3, 4): 8.0, (3, 5): 1.5, (3, 6): 1.5, (3, 7): 3.0, (3, 8): 3.0, (3, 9): 1.0, (3, 10): 6.0, (3, 11): 6.0, (3, 13): 0.25, (3, 14): 0.25, (3, 15): 0.25, (3, 16): 0.25, (3, 17): 0.25, (3, 18): 0.25, (3, 19): 0.25, (3, 20): 0.25, (3, 21): 0.25, (3, 22): 0.25, (3, 23): 0.25, (3, 24): 0.25, (3, 25): 0.25, (3, 26): 0.25, (3, 27): 0.25, (3, 28): 0.25, (4, 0): 2.0, (4, 1): 2.0, (4, 2): 2.0, (4, 3): 2.0, (4, 4): 2.0, (4, 5): 2.0, (4, 6): 6.0, (4, 7): 6.0, (5, 0): 0.5, (5, 1): 0.5, (5, 2): 0.5, (5, 3): 0.5, (5, 4): 0.5, (5, 5): 0.5, (5, 6): 0.5, (5, 7): 0.5, (5, 8): 0.5, (5, 9): 0.5, (5, 10): 1.0, (5, 11): 1.0, (5, 12): 1.0, (5, 13): 1.0, (5, 14): 1.0, (5, 15): 1.0, (5, 16): 1.0, (5, 17): 1.0, (5, 18): 1.0, (5, 19): 1.0, (5, 20): 0.5, (5, 21): 0.5, (5, 22): 0.5, (5, 23): 0.5, (5, 24): 0.5, (5, 25): 0.5, (5, 26): 0.5, (5, 27): 0.5, (5, 28): 0.5, (5, 29): 0.5, (5, 30): 0.5, (5, 31): 0.5, (5, 32): 0.5, (5, 33): 0.5, (5, 34): 0.5, (5, 35): 0.5, (5, 36): 0.5, (5, 37): 0.5, (5, 38): 0.5, (5, 39): 0.5, (5, 40): 4.0, (5, 41): 4.0, (6, 0): 8.0, (6, 1): 6.0, (6, 2): 6.0, (6, 3): 0.5, (6, 4): 0.5, (6, 5): 0.5, (6, 6): 0.5, (6, 7): 0.5, (6, 8): 0.5, (6, 9): 0.5, (6, 10): 0.5, (6, 11): 0.5, (6, 12): 0.5, (6, 13): 0.5, (6, 14): 0.5, (6, 15): 0.5, (6, 16): 0.5, (6, 17): 0.5, (7, 0): 1.0, (7, 1): 5.0, (7, 2): 6.0, (7, 3): 6.0, (7, 4): 6.0, (7, 5): 0.5, (7, 6): 0.5, (7, 7): 0.5, (7, 8): 0.5, (7, 9): 0.5, (7, 10): 0.5, (7, 11): 0.5, (7, 12): 0.5, (7, 13): 0.5, (7, 14): 0.5}
task releaase times
 {(0, 0): 1, (0, 1): 22, (0, 2): 29, (0, 3): 78, (0, 4): 36, (0, 5): 64, (0, 6): 85, (0, 7): 85, (0, 8): nan, (0, 9): nan, (0, 10): 1, (0, 11): 44, (0, 12): 51, (0, 13): 58, (0, 14): 65, (0, 15): 72, (1, 0): 8, (1, 1): 22, (1, 2): 36, (1, 3): 1, (1, 4): 15, (1, 5): 36, (1, 6): nan, (2, 0): 68, (2, 1): 82, (2, 2): 96, (2, 3): 57, (2, 4): 80, (2, 5): 94, (2, 6): nan, (3, 0): 1, (3, 1): 22, (3, 2): 36, (3, 3): 57, (3, 4): 78, (3, 5): '8–36', (3, 6): '43–92', (3, 7): 57, (3, 8): 78, (3, 9): 92, (3, 10): nan, (3, 11): nan, (3, 13): 2, (3, 14): 9, (3, 15): 16, (3, 16): 23, (3, 17): 30, (3, 18): 37, (3, 19): 44, (3, 20): 51, (3, 21): 58, (3, 22): 65, (3, 23): 72, (3, 24): 79, (3, 25): 86, (3, 26): 93, (3, 27): 100, (3, 28): 107, (4, 0): 14, (4, 1): 23, (4, 2): 30, (4, 3): 42, (4, 4): 54, (4, 5): 61, (4, 6): 30, (4, 7): 96, (5, 0): 45, (5, 1): 52, (5, 2): 59, (5, 3): 66, (5, 4): 73, (5, 5): 80, (5, 6): 87, (5, 7): 94, (5, 8): 101, (5, 9): 108, (5, 10): 45, (5, 11): 52, (5, 12): 59, (5, 13): 66, (5, 14): 73, (5, 15): 80, (5, 16): 87, (5, 17): 94, (5, 18): 101, (5, 19): 108, (5, 20): 45, (5, 21): 52, (5, 22): 59, (5, 23): 66, (5, 24): 73, (5, 25): 80, (5, 26): 87, (5, 27): 94, (5, 28): 101, (5, 29): 108, (5, 30): 45, (5, 31): 52, (5, 32): 59, (5, 33): 66, (5, 34): 73, (5, 35): 80, (5, 36): 87, (5, 37): 94, (5, 38): 101, (5, 39): 108, (5, 40): 43, (5, 41): 106, (6, 0): 1, (6, 1): nan, (6, 2): nan, (6, 3): 42, (6, 4): 47, (6, 5): 52, (6, 6): 57, (6, 7): 62, (6, 8): 67, (6, 9): 72, (6, 10): 77, (6, 11): 82, (6, 12): 87, (6, 13): 92, (6, 14): 97, (6, 15): 102, (6, 16): 107, (6, 17): 112, (7, 0): 15, (7, 1): 99, (7, 2): nan, (7, 3): nan, (7, 4): nan, (7, 5): 45, (7, 6): 52, (7, 7): 59, (7, 8): 66, (7, 9): 73, (7, 10): 80, (7, 11): 87, (7, 12): 94, (7, 13): 101, (7, 14): 108}
task deadlines
 {(0, 0): 7, (0, 1): 26, (0, 2): 33, (0, 3): 82, (0, 4): 40, (0, 5): 82, (0, 6): 96, (0, 7): 96, (0, 8): nan, (0, 9): nan, (0, 10): 106, (0, 11): 44, (0, 12): 51, (0, 13): 58, (0, 14): 65, (0, 15): 72, (1, 0): 22, (1, 1): 36, (1, 2): 50, (1, 3): 56, (1, 4): nan, (1, 5): nan, (1, 6): nan, (2, 0): 82, (2, 1): 96, (2, 2): 109, (2, 3): 109, (2, 4): nan, (2, 5): nan, (2, 6): nan, (3, 0): 64, (3, 1): 36, (3, 2): 64, (3, 3): 78, (3, 4): 92, (3, 5): 64, (3, 6): 115, (3, 7): 64, (3, 8): 85, (3, 9): 99, (3, 10): nan, (3, 11): nan, (3, 13): 7, (3, 14): 14, (3, 15): 21, (3, 16): 28, (3, 17): 35, (3, 18): 42, (3, 19): 49, (3, 20): 56, (3, 21): 63, (3, 22): 70, (3, 23): 77, (3, 24): 84, (3, 25): 91, (3, 26): 98, (3, 27): 105, (3, 28): 112, (4, 0): 26, (4, 1): 33, (4, 2): 40, (4, 3): 54, (4, 4): 68, (4, 5): 75, (4, 6): 56, (4, 7): 110, (5, 0): 45, (5, 1): 52, (5, 2): 59, (5, 3): 66, (5, 4): 73, (5, 5): 80, (5, 6): 87, (5, 7): 94, (5, 8): 101, (5, 9): 108, (5, 10): 52, (5, 11): 59, (5, 12): 66, (5, 13): 73, (5, 14): 80, (5, 15): 87, (5, 16): 94, (5, 17): 101, (5, 18): 108, (5, 19): 115, (5, 20): 45, (5, 21): 52, (5, 22): 59, (5, 23): 66, (5, 24): 73, (5, 25): 80, (5, 26): 87, (5, 27): 94, (5, 28): 101, (5, 29): 108, (5, 30): 45, (5, 31): 52, (5, 32): 59, (5, 33): 66, (5, 34): 73, (5, 35): 80, (5, 36): 87, (5, 37): 94, (5, 38): 101, (5, 39): 108, (5, 40): 50, (5, 41): 113, (6, 0): 'Group week', (6, 1): nan, (6, 2): nan, (6, 3): 42, (6, 4): 47, (6, 5): 52, (6, 6): 57, (6, 7): 62, (6, 8): 67, (6, 9): 72, (6, 10): 77, (6, 11): 82, (6, 12): 87, (6, 13): 92, (6, 14): 97, (6, 15): 102, (6, 16): 107, (6, 17): 112, (7, 0): 22, (7, 1): 103, (7, 2): nan, (7, 3): nan, (7, 4): nan, (7, 5): 45, (7, 6): 52, (7, 7): 59, (7, 8): 66, (7, 9): 73, (7, 10): 80, (7, 11): 87, (7, 12): 94, (7, 13): 101, (7, 14): 108}
minimum grades each course (all the same)
 60
max study time each day
 {0: 6, 1: 6, 2: 6, 3: 6, 4: 6, 5: 4, 6: 4, 7: 6, 8: 6, 9: 6, 10: 6, 11: 6, 12: 4, 13: 4, 14: 6, 15: 6, 16: 6, 17: 6, 18: 6, 19: 4, 20: 4, 21: 6, 22: 6, 23: 6, 24: 6, 25: 6, 26: 4, 27: 4, 28: 6, 29: 6, 30: 6, 31: 6, 32: 6, 33: 4, 34: 4, 35: 6, 36: 6, 37: 6, 38: 6, 39: 6, 40: 4, 41: 4, 42: 6, 43: 6, 44: 6, 45: 6, 46: 6, 47: 4, 48: 4, 49: 6, 50: 6, 51: 6, 52: 6, 53: 6, 54: 4, 55: 4, 56: 6, 57: 6, 58: 6, 59: 6, 60: 6, 61: 4, 62: 4, 63: 6, 64: 6, 65: 6, 66: 6, 67: 6, 68: 4, 69: 4, 70: 6, 71: 6, 72: 6, 73: 6, 74: 6, 75: 4, 76: 4, 77: 6, 78: 6, 79: 6, 80: 6, 81: 6, 82: 4, 83: 4, 84: 6, 85: 6, 86: 6, 87: 6, 88: 6, 89: 4, 90: 4, 91: 6, 92: 6, 93: 6, 94: 6, 95: 6, 96: 4, 97: 4, 98: 6, 99: 6, 100: 6, 101: 6, 102: 6, 103: 4, 104: 4, 105: 6, 106: 6, 107: 6, 108: 6, 109: 6, 110: 4, 111: 4, 112: 6}
penalty (if studying too long)
 1
Timmy's efficiency to each task
 {(0, 0): 0.6, (0, 1): 0.6, (0, 2): 0.6, (0, 3): 0.6, (0, 4): 0.6, (0, 5): 0.6, (0, 6): 0.6, (0, 7): 0.6, (0, 8): 1.0, (0, 9): 1.0, (0, 10): 0.6, (0, 11): 0.6, (0, 12): 0.6, (0, 13): 0.6, (0, 14): 0.6, (0, 15): 0.6, (1, 0): 0.6, (1, 1): 0.6, (1, 2): 0.6, (1, 3): 0.6, (1, 4): 1.0, (1, 5): 1.0, (1, 6): 1.0, (2, 0): 0.6, (2, 1): 0.6, (2, 2): 0.6, (2, 3): 0.6, (2, 4): 1.0, (2, 5): 1.0, (2, 6): 1.0, (3, 0): 0.6, (3, 1): 0.6, (3, 2): 0.6, (3, 3): 0.6, (3, 4): 0.6, (3, 5): 0.6, (3, 6): 0.6, (3, 7): 1.0, (3, 8): 1.0, (3, 9): 0.0, (3, 10): 0.0, (3, 11): 0.0, (3, 12): 0.0, (3, 13): 0.0, (3, 14): 0.0, (3, 15): 0.0, (3, 16): 0.0, (3, 17): 0.0, (3, 18): 0.0, (3, 19): 0.0, (3, 20): 0.0, (3, 21): 0.0, (3, 22): 0.0, (3, 23): 0.0, (3, 24): 0.0, (4, 0): 1.0, (4, 1): 1.0, (4, 2): 1.0, (4, 3): 1.0, (4, 4): 1.0, (4, 5): 1.0, (4, 6): 1.0, (4, 7): 1.0, (5, 0): 0.6, (5, 1): 0.6, (5, 2): 0.6, (5, 3): 0.6, (5, 4): 0.6, (5, 5): 0.6, (5, 6): 0.6, (5, 7): 0.6, (5, 8): 0.6, (5, 9): 0.6, (5, 10): 0.6, (5, 11): 0.6, (5, 12): 0.6, (5, 13): 0.6, (5, 14): 0.6, (5, 15): 0.6, (5, 16): 0.6, (5, 17): 0.6, (5, 18): 0.6, (5, 19): 0.6, (5, 20): 1.0, (5, 21): 1.0, (5, 22): 1.0, (5, 23): 1.0, (5, 24): 1.0, (5, 25): 1.0, (5, 26): 1.0, (5, 27): 1.0, (5, 28): 1.0, (5, 29): 1.0, (5, 30): 0.6, (5, 31): 0.6, (5, 32): 0.6, (5, 33): 0.6, (5, 34): 0.6, (5, 35): 0.6, (5, 36): 0.6, (5, 37): 0.6, (5, 38): 0.6, (5, 39): 0.6, (5, 40): 1.0, (5, 41): 1.0, (6, 0): 0.6, (6, 1): 1.0, (6, 2): 1.0, (6, 3): 0.6, (6, 4): 0.6, (6, 5): 0.6, (6, 6): 0.6, (6, 7): 0.6, (6, 8): 0.6, (6, 9): 0.6, (6, 10): 0.6, (6, 11): 0.6, (6, 12): 0.6, (6, 13): 0.6, (6, 14): 0.6, (6, 15): 0.6, (6, 16): 0.6, (6, 17): 0.6, (7, 0): 1.0, (7, 1): 0.6, (7, 2): 1.0, (7, 3): 1.0, (7, 4): 1.0, (7, 5): 0.6, (7, 6): 0.6, (7, 7): 0.6, (7, 8): 0.6, (7, 9): 0.6, (7, 10): 0.6, (7, 11): 0.6, (7, 12): 0.6, (7, 13): 0.6, (7, 14): 0.6}
Timmy's enthusiasm to each course
 {0: 1.0, 1: 0.8, 2: 0.8, 3: 1.0, 4: 0.6, 5: 0.8, 6: 0.4, 7: 0.8}
midpoint hour for shift
 {0: 0.5, 1: 1.5, 2: 2.5, 3: 3.5, 4: 4.5, 5: 5.5, 6: 6.5, 7: 7.5, 8: 8.5, 9: 9.5, 10: 10.5, 11: 11.5, 12: 12.5, 13: 13.5, 14: 14.5, 15: 15.5}
peak energy time 5

In [44]:
# In[model]
model = Model("StudySchedule")

In [45]:
# In[formulation]
### decision variable
y = model.addVars(K, T, I, 
                  [(i,j) for i in I for j in J[i]], 
                  vtype=GRB.BINARY, name="y")

# Define productivity expression P[i,j,k,t]
# P = {(i,j,k,t): ... for i in I for j in J_i[i] for k in K for t in T}  # Performance
P = {}  # dictionary to hold expressions
for i in I:
    enthusiasm = 1 + theta[i]# enthusiasm effect
    print(J[i].shape[0])
    for j in range(J[i].shape[0]):
        eta = eta_type[i, j]# task-type effect
        for k in K:
            for t in T:
                circadian = 1 + a * math.cos((2 * math.pi / 24) * (h_t[t] - h_peak))# circadian effect
                P[i, j, k, t] = eta * enthusiasm * circadian

# Performance A_{i,j}
A = {}
for i in I:
    for j in J[i]:
        A[i,j] = quicksum(P[i,j,k,t] * y[k,t,i,j] for k in K for t in T)

# Grade G_i
G = {}
for i in I:
    G[i] = quicksum(S[i,j] * model.addVar(lb=0, ub=1, name=f"g_{i}_{j}") for j in J[i])

# Assign A/E capped to 1 for each X_{i,j}
X = {}
for i in I:
    for j in J[i]:
        expr = A[i,j] / E[i,j] if E[i,j] != 0 else 0
        X[i,j] = model.addVar(lb=0, ub=1, name=f"x_{i}_{j}")
        model.addGenConstrMin(X[i,j], [1, expr], name=f"min_{i}_{j}")
        model.addConstr(G[i] >= quicksum(S[i,j] * X[i,j] for j in J[i]), name=f"grade_{i}")

# Overload penalty
overload = {}
for k in K:
    expr = quicksum(y[k,t,i,j] for t in T for i in I for j in J[i])
    overload[k] = model.addVar(lb=0, name=f"overload_{k}")
    model.addGenConstrMax(overload[k], [0, expr - H_star], name=f"over_penalty_{k}")

### objective
obj = quicksum(w[i] * G[i] for i in I) - beta * quicksum(overload[k] for k in K)
model.setObjective(obj, GRB.MAXIMIZE)

# constraints
# 1. Single task per shift
for k in K:
    for t in T:
        model.addConstr(quicksum(y[k,t,i,j] for i in I for j in J[i]) <= 1, name=f"single_task_{k}_{t}")

# 2. Deadline and release window
for i in I:
    for j in J[i]:
        for k in K:
            if k > d[i,j] or k < r[i,j]:
                for t in T:
                    model.addConstr(y[k,t,i,j] == 0, name=f"time_window_{k}_{t}_{i}_{j}")

# 3. Break necessity: sliding window of 6 shifts with max 4 tasks
for k in K:
    for t0 in range(len(T) - 5):
        model.addConstr(
            quicksum(y[k,t,i,j] for t in range(t0, t0+6) for i in I for j in J[i]) <= 4,
            name=f"break_{k}_{t0}"
        )

# 4. Minimum grade
for i in I:
    model.addConstr(G[i] >= B[i], name=f"min_grade_{i}")

16
7
7
28

KeyError: (3, 25)

In [ ]:
# In[solve]
model.optimize()

# In[output]
if model.status == GRB.OPTIMAL:
    print("Optimal Objective:", model.objVal)
    for k,t,i,j in y:
        if y[k,t,i,j].X > 0.5:
            print(f"Task {j} of Course {i} scheduled at day {k}, shift {t}")
else:
    print("No optimal solution found.")